.dropdownWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2px;
  gap: 2px;
  transition: scale 100ms ease, opacity 100ms ease;
  z-index: 1;
  position: absolute;
  width: fit-content;
  top: 0;
  border: 1px solid transparent;
  background: linear-gradient(var(--main-black), var(--main-black)) padding-box,
    linear-gradient(45deg, var(--main-purple), var(--main-red)) border-box;

  &[data-direction="row"] {
    flex-direction: row;
  }
  &[data-direction="column"] {
    flex-direction: column;
  }

  &[data-anchor="right"] {
    right: -44px;
    transform-origin: top right;
  }

  &[data-anchor="left"] {
    left: -44px;
    transform-origin: top left;
  }

  @starting-style {
    scale: 0.9;
    opacity: 0.1;
  }

  button.dropdownBtn {
    width: 100%;
    color: var(--main-white);
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    background-color: transparent;
    text-transform: capitalize;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    transition: 200ms ease;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: var(--main-gray-op);
      z-index: 1;
    }

    &:active {
      scale: 0.9;
    }
  }
}
