/* footer */
.main__footer {
  background: color-mix(in srgb, var(--main-purple) 8%, black);
  color: var(--clr-nav);
  padding: 0.25rem;
  font-size: 1rem;
  display: flex;
  justify-content: end;
}
/* fin footer */
