/* header */
.main__header {
  width: 100%;
  color: var(--clr-nav);
  padding: 1px 8px;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  top: 0;
  background: var(--main-black);
  border-bottom: 1px solid var(--main-white);
  border-image: linear-gradient(
    45deg,
    var(--main-purple),
    var(--main-red),
    var(--main-purple)
  );
  border-image-slice: 1;
  height: 31px;
  overflow: hidden;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__site {
    font-weight: normal;
    text-shadow: 1px 1px 0 var(--main-black);
    color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font: inherit;
    }

    &:focus-visible {
      outline: 1px solid var(--main-red);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    > div button {
      background: none;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      padding: 2px;
      transition: 200ms ease;
      color: var(--main-white);

      svg {
        fill: var(--main-white);
      }

      &:hover,
      &:focus-visible {
        filter: drop-shadow(0 0 4px var(--main-black));
      }

      &:active {
        filter: drop-shadow(0 0 4px var(--main-black));
        scale: 0.9;
      }

      &.create-new {
        color: var(--main-white);
        border-radius: 0;
        background: var(--main-purple-tab);

        svg {
          fill: var(--main-white);
        }
      }
    }
  }

  .new-project {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);

    &-confirm {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        button {
          cursor: pointer;
          border-radius: 0;
          padding: 0;
          border-radius: 0;
          width: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: none;
          filter: none;
          color: var(--main-white);
          background: var(--main-gray);

          &:hover,
          &:focus-visible {
            background: var(--main-purple-tab);
            color: rgb(248, 248, 248);
          }
        }
      }
    }
  }
}

/* fin header */
