.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  z-index: 1;
  max-width: var(--size-main-container);

  &__sharedNotFound,
  &__sharedLoading {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    background: rgb(var(--main-white));
    padding: 2rem;
    border-radius: 0.5em;
    white-space: pre-wrap;
    margin: auto;
    background: var(--main-black);
    border: 2px solid var(--main-red);

    h2 {
      line-height: 1;
      color: var(--main-white);
      font-size: 3rem;
    }

    p {
      color: var(--main-white);
    }

    a {
      padding: 0.5rem;
      background: linear-gradient(45deg, var(--main-purple), var(--main-red));
      border-radius: 0.25em;
      color: rgb(248, 248, 248);
      margin-top: 0.5rem;
      transition: scale 200ms ease;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      line-height: 1;

      &:hover,
      &:focus-visible {
        outline: 2px solid var(--main-purple);
      }

      &:active {
        outline: 2px solid var(--main-purple);
        scale: 0.9;
      }
    }
  }

  &__sharedLoading {
    border-color: var(--main-purple);
  }
}

.currentSnippet {
  font-size: 1rem;
  line-height: 1;
  height: 1rem;
  color: var(--main-white);
  padding-inline: 1rem;
}

.tabs {
  display: flex;
  gap: clamp(0.25rem, 0.25rem + 2vw, 2rem);
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    width: clamp(60px, 60px + 2vw, 80px);
    outline: none;
    border: none;
    font-weight: bold;
    background: var(--main-btn-bg);
    color: var(--main-btn-clr);
    text-shadow: 1px 1px 0 var(--main-btn-bg);
    font-size: clamp(1.125rem, 1.125rem + 2vw, 1.25rem);
    cursor: pointer;
    border: 1px solid var(--main-red);
    filter: grayscale(0.5);
    transition: 200ms ease;
    background: var(--bg-main);

    &:hover,
    &:focus-visible {
      border: 1px solid var(--main-purple);
      filter: grayscale(0);
      background: var(--main-black);
      box-shadow: 0 0 4px 0 var(--main-purple);
    }

    &:active {
      border: 1px solid var(--main-purple);
      scale: 0.95;
      filter: grayscale(0);
      background: var(--main-black);
      box-shadow: 0 0 4px 0 var(--main-purple);
    }

    &[data-active="true"] {
      border: 1px solid var(--main-purple);
      filter: grayscale(0);
      background: var(--main-black);
      box-shadow: 0 0 4px 0 var(--main-purple);
    }
  }
}

.mainCode {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  padding: 1rem;

  @media (min-width: 800px) {
    flex-direction: row;
    gap: 0;
    padding: 0;
  }

  .NoSplitPane {
    @media (min-width: 800px) {
      display: none !important;
    }
  }

  .SplitPane.vertical {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    @media (max-width: 799px) {
      display: none !important;
    }
  }

  .Pane.vertical {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Pane1.vertical {
    min-width: 300px;
  }

  .Resizer.vertical {
    cursor: col-resize;
    width: 2rem;
    height: 100%;
    position: relative;

    &::after {
      content: "↔";
      aspect-ratio: 1;
      width: 1rem;
      font-size: 2rem;
      position: absolute;
      left: calc(50% - 1px);
      top: 50%;
      translate: -50% -50%;
      color: var(--main-white);
      pointer-events: none;
      opacity: 0.25;
    }

    &:active::after {
      opacity: 0.5;
    }
  }

  &__input {
    width: 100%;
    min-width: 300px;
    max-width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width: 800px) {
      min-width: initial;
      flex: 1;
      min-height: min(1080px, 75vh);
      min-height: min(1080px, 75dvh);
      height: clamp(min(1080px, 75vh), 75vh, 1080px);
      height: clamp(min(1080px, 75dvh), 75dvh, 1080px);
    }

    &__type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;

      &__active {
        color: var(--main-white);
        font-weight: bold;

        span:first-child {
          padding-right: 0;
        }

        span:last-child {
          padding-left: 0;
          color: var(--main-purple);
          text-shadow: 0 0 4px var(--main-purple);
        }
      }

      &__btnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }

      &__iconBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-purple);
        transition: 200ms ease;
        cursor: pointer;

        &:hover,
        &:focus-visible {
          color: var(--main-red);
        }

        &:active {
          color: var(--main-red);
          scale: 0.9;
        }

        &.active-on {
          color: var(--main-red);
        }
      }

      &__clearConfirm {
        color: var(--main-red);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: 0.5rem;
        gap: 4px;

        &__buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;

          button {
            cursor: pointer;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.95em;
            background: var(--main-gray);
            padding: 0;
            transition: none;

            &:hover,
            &:focus-visible {
              background: var(--main-red);
              color: rgb(248, 248, 248);
            }

            &:active {
              color: rgb(248, 248, 248);
              background: var(--main-red);
              scale: 0.9;
            }
          }
        }
      }

      &__clear {
        cursor: pointer;
        color: var(--main-red);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        transition: 200ms ease;

        &:hover,
        &:focus-visible {
          background: var(--main-red);
        }

        &:active {
          background: var(--main-red);
          scale: 0.9;
        }

        &__buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }

    &__textWrapper {
      flex: 1;
      width: 100%;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      position: relative;
      height: clamp(min(1080px, 75vh), 75vh, 1080px);
      height: clamp(min(1080px, 75dvh), 75dvh, 1080px);
      overflow: hidden;
      color: var(--main-purple);

      @media (min-width: 800px) {
        min-width: initial;
      }

      &__inner {
        display: flex;
        height: 420px;
        min-height: 172px;
        /* max-height: 620px; */
        overflow: hidden;
        border-radius: 0.5rem;
        border: 2px solid rgb(100, 100, 100);
        background: var(--bg-code);

        @media (min-width: 800px) {
          height: 100%;
          resize: vertical;
        }

        &::-webkit-resizer {
          background-color: transparent;
          /* background-image: url("/resize-vert.svg");
          background-repeat: no-repeat; */
        }
      }
    }
  }

  &__output {
    width: 100%;
    min-width: 300px;
    max-width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width: 800px) {
      min-width: initial;
      flex: 1;
      min-height: min(1080px, 75vh);
      min-height: min(1080px, 75dvh);
      height: clamp(min(1080px, 75vh), 75vh, 1080px);
      height: clamp(min(1080px, 75dvh), 75dvh, 1080px);
    }

    &__type {
      color: var(--main-white);
      font-weight: bold;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__btnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        button,
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--main-purple);
          transition: 200ms ease;
          outline: none;
          border: none;

          &:hover,
          &:focus-visible {
            color: var(--main-red);
          }

          &:active {
            color: var(--main-red);
            scale: 0.9;
          }
        }
      }

      &__full {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;

        svg {
          color: var(--main-red);
          fill: var(--main-red);
        }

        &:hover,
        &:active {
          background-color: var(--main-red);
        }
      }
    }

    &__iframeWrapper {
      border-radius: 0.5rem;
      border: 2px solid rgb(100, 100, 100);
      display: flex;
      background: white;
      transition: opacity 200ms ease;
      width: 100%;
      max-width: 100%;
      height: 420px;
      /* max-height: 620px; */
      min-height: 172px;
      overflow: hidden;

      @media (min-width: 800px) {
        height: 100%;
        resize: vertical;
      }

      &::-webkit-resizer {
        background-color: transparent;
        /* background-image: url("/resize-vert.svg");
        background-repeat: no-repeat; */
      }
    }

    &__iframe {
      border-radius: 0.25em;
      width: 100%;
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      border: none;
      outline: none;
    }
  }
}

.dim {
  opacity: 0.5;
  color: transparent !important;
}

.dim * {
  color: transparent !important;
}

.clr-red {
  color: var(--main-red) !important;
}

.moon-fill {
  color: rgb(40, 40, 40);
}

.sun-fill {
  color: rgb(248, 248, 248);
}

.diamond-fill {
  color: var(--main-black);
}

.d-none {
  display: none;
}

.pe-none {
  pointer-events: none;
}

/* auto-animate-wrapper */
.animWrapper,
.noAnimWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: clamp(0.5rem, 0.5rem + 1vw, 2rem);
  transition: none !important;
  animation: none !important;
}

.noAnimWrapper {
  flex-flow: column nowrap;
}

/* sonner-toast-wrapper */
li[data-sonner-toast] {
  background: var(--main-black) !important;
  border-color: var(--main-purple-variation) !important;
  color: var(--main-white) !important;
  word-break: break-all !important;
  white-space: pre-wrap !important;
}
