@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: 200ms;
  animation-timing-function: ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  interpolate-size: allow-keywords;
}

html {
  /* INICIO SCROLLBAR */
  scrollbar-width: thin;
  scrollbar-color: var(--main-purple) transparent;

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-purple);
    border-radius: 8px;
  }

  /* track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* FIN SCROLLBAR */

  ::selection {
    color: var(--main-white);
    background: var(--main-purple-new);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-primary);
  line-height: 1.4;
  color: var(--white);
}

#root {
  isolation: isolate;
}

.root-theme {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: var(--bg-main);
  font-family: var(--font-primary);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  padding: 8px 16px;

  @media (max-width: $panel-breakpoint) {
    padding: 8px 8px;
  }
}

/* text */
p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

a,
button,
textarea,
input,
select,
option {
  font: inherit;
  color: inherit;
  text-decoration: none;
  text-wrap: balance;
}

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.mainContainer {
  width: 100%;
  background: var(--bg-main);
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: 0% -20%;
    background-size: max(600px, 50%);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: 0% -20%;
    background-size: max(600px, 50%);
    z-index: 0;
    transform: rotate(180deg);
  } */
}
