.notFound {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  &__inner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    background: rgb(var(--main-white));
    padding: 2rem;
    width: clamp(300px, 300px + 10vw, 800px);
    border-radius: 0.5em;
    white-space: pre-wrap;

    h1 {
      font-size: 2rem;
      line-height: 1;
      color: var(--main-white);
      font-size: 3rem;
    }

    p {
      color: var(--main-white);
    }

    a {
      padding: 0.5rem;
      background: linear-gradient(var(--main-black), var(--main-black))
          padding-box,
        linear-gradient(45deg, var(--main-purple), var(--main-red)) border-box;
      color: var(--main-white);
      border-radius: 0.25em;
      margin-top: 0.5rem;
      transition: scale 200ms ease;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      line-height: 1;
      border: 1px solid transparent;
      outline: none;
      filter: grayscale(1);

      &:hover,
      &:focus-visible,
      &:active {
        filter: grayscale(0);
      }

      &:active {
        scale: 0.95;
      }
    }
  }
}
