.notFound {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  &__inner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: .5rem;
    background: rgb(var(--main-white));
    padding: 2rem;
    width: clamp(300px, 300px + 10vw, 800px);
    border-radius: .5em;
    white-space: pre-wrap;

    h1 {
      font-size: 2rem;
      line-height: 1;
      color: rgb(248, 248, 248);
      font-size: 3rem;
    }

    p {
      color: rgb(248, 248, 248)
    }

    a {
      padding: .5rem;
      background: linear-gradient(45deg, var(--main-purple), var(--main-red));
      border-radius: .25em;
      color: rgb(248, 248, 248);
      margin-top: .5rem;
      transition: scale 200ms;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      line-height: 1;

      &:hover {
        outline: 2px solid var(--main-purple)
      }

      &:active {
        outline: 2px solid var(--main-purple);
        scale: .9
      }
    }
  }
}