:root {
  --font-primary: monospace, 'Courier New', Courier;

  --main-purple: #6b1ff8;
  --main-purple-variation: #3b158d;
  --main-red: #d31d53;
  --main-white: rgb(248, 248, 248);
  --main-white-op: rgb(248, 248, 248, .5);
  --main-black: rgb(30, 30, 30);
  --main-black-op: rgb(30, 30, 30, .5);
  --main-gray: rgb(80, 80, 80);
  --main-gray-op: rgb(100, 100, 100, .5);

  --clr-nav: rgb(248, 248, 248);

  --color-code: rgb(248, 248, 248);

  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(248, 248, 248);

  --bg-main: rgb(40, 40, 40);
  --bg-code: #1e1e1e;
  --size-main-container: 1500px;
}