:root {
  --font-primary: monospace, "Courier New", Courier;

  --main-purple: rgb(107, 31, 248);
  --main-purple-variation: rgb(59, 21, 141);
  --main-purple-new: rgb(82, 8, 255);
  --main-red: #d31d53;
  --main-white: rgb(248, 248, 248);
  --main-white-op: rgb(248, 248, 248, 0.5);
  --main-black: rgb(30, 30, 30);
  --main-black-op: rgb(30, 30, 30, 0.5);
  --main-gray: rgb(80, 80, 80);
  --main-gray-op: rgb(100, 100, 100, 0.5);

  --clr-nav: rgb(248, 248, 248);

  --color-code: rgb(248, 248, 248);

  --main-btn-bg: rgb(8, 5, 12);
  --main-btn-clr: rgb(248, 248, 248);

  --bg-main: rgb(40, 40, 40);
  --bg-code: rgb(30, 30, 30);
  --size-main-container: 1500px;
}

.light-theme {
  --main-purple: rgb(107, 31, 248);
  --main-purple-new: rgb(156, 131, 255);
  --main-red: rgb(210, 28, 83);
  --main-white: rgb(30, 30, 30);
  --main-white-op: rgb(30, 30, 30, 0.5);
  --main-black: rgb(248, 248, 248);
  --main-black-op: rgb(248, 248, 248, 0.5);
  --main-gray: rgb(220, 220, 220);

  --clr-nav: rgb(248, 248, 248);

  --color-code: rgb(30, 30, 30);

  --main-btn-bg: rgb(248, 248, 248);
  --main-btn-clr: rgb(8, 5, 12);

  --bg-main: rgb(238, 238, 238);
  --bg-code: rgb(255, 255, 254);
}
