:root {
  --main-purple: rgb(107, 31, 248);
  --main-purple-variation: rgb(59, 21, 141);
  --main-red: rgb(210, 28, 83);
  --main-white: rgb(250, 250, 250);
  --main-black: rgb(40, 40, 40);
  --main-gray: rgb(80, 80, 80);

  --clr-nav: rgb(250, 250, 250);

  --color-code: rgb(250, 250, 250);

  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(250, 250, 250);

  --bg-main: rgb(40, 40, 40);
  --bg-code: rgb(80, 80, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* INICIO SCROLLBAR */
  scrollbar-width: thin;
  scrollbar-color: var(--main-purple) var(--bg-main);

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* track */
  ::-webkit-scrollbar-track {
    background: var(--bg-main)
      /* var(--color-back) */
  }

  /* handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-purple);
  }

  /* FIN SCROLLBAR */

  ::selection {
    color: var(--main-purple-variation);
    background: var(--main-purple);
  }
}

body,
#root,
.root-theme {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: monospace, 'Courier New', Courier;
  line-height: 1.2;
}

.dark-theme {
  --main-purple: rgb(107, 31, 248);
  --main-purple-variation: rgb(59, 21, 141);
  --main-red: rgb(210, 28, 83);
  --main-white: rgb(250, 250, 250);
  --main-black: rgb(40, 40, 40);
  --main-gray: rgb(80, 80, 80);

  --clr-nav: rgb(250, 250, 250);

  --color-code: rgb(250, 250, 250);

  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(250, 250, 250);

  --bg-main: rgb(40, 40, 40);
  --bg-code: rgb(80, 80, 80);
}

.light-theme {
  --main-purple: rgb(107, 31, 248);
  --main-red: rgb(210, 28, 83);
  --main-white: rgb(5, 5, 5);
  --main-black: rgb(250, 250, 250);
  --main-gray: rgb(220, 220, 220);

  --clr-nav: rgb(250, 250, 250);

  --color-code: rgb(5, 5, 5);

  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(250, 250, 250);

  --bg-main: rgb(250, 250, 250);
  --bg-code: rgb(220, 220, 220);
}


a,
button,
textarea,
input {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  background: none;
}

/* header */
.main__header {
  background: linear-gradient(45deg, var(--main-purple), var(--main-red));
  color: var(--clr-nav);
  padding: 3px 8px;
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: sticky;
  top: 0;
  overflow: hidden;

  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__site {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: .8rem;
    text-shadow: 1px 1px 0 rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font: inherit;
    }

    &:focus-visible {
      outline: 1px solid var(--main-red);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    button {
      background: none;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      padding: 2px;
      transition: 200ms;
      color: var(--main-black);

      svg {
        fill: var(--main-black);
      }

      &:hover,
      &:focus-visible {
        filter: drop-shadow(0 0 4px var(--main-black));
      }

      &:active {
        filter: drop-shadow(0 0 4px var(--main-black));
        scale: .9
      }

      &.create-new {
        color: var(--main-red);
        background: var(--main-black);
        border-radius: 0;

        svg {
          fill: var(--main-red);
        }
      }
    }
  }


  .new-project {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);

    &-confirm {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      &-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        button {
          border-radius: 0;
          padding: 2px;
          border-radius: 0;
          width: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: none;
          filter: none;
          color: var(--main-white);
          background: var(--main-gray);

          &:hover,
          &:focus-visible {
            background: var(--main-purple);
          }
        }
      }
    }
  }
}

/* fin header */


/* footer */
.main__footer {
  background: color-mix(in srgb, var(--main-purple) 8%, black);
  color: var(--clr-nav);
  padding: .2rem;
  font-size: .8rem;
  display: flex;
  justify-content: end;
}

/* fin footer */

.mainContainer {
  width: 100%;
  background: var(--bg-main);
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: max(600px, 50%);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: max(600px, 50%);
    z-index: 0;
    transform: rotate(180deg);
  }
}


.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  flex: 1;
  z-index: 1;
}

.tabs {
  display: flex;
  gap: clamp(.2rem, .2rem + 2vw, 2rem);
  justify-content: center;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4em .8em;
    border-radius: .2em;
    width: clamp(60px, 60px + 2vw, 80px);
    outline: none;
    border: none;
    font-weight: bold;
    background-color: var(--main-purple);
    background-image: linear-gradient(45deg, var(--main-purple), var(--main-red));
    background-size: 300%;
    background-position: 50% 50%;
    color: var(--main-btn-clr);
    font-size: clamp(1.1rem, 1.1rem + 2vw, 1.2rem);
    cursor: pointer;
    transition: 200ms;
    border: 1px solid var(--main-red);
    text-shadow: 1px 1px 0 rgb(40, 40, 40);

    &:hover,
    &:focus-visible {
      box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
      background-position: 0% 50%;
      border: 1px solid var(--main-purple);
    }

    &:active {
      box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
      background-position: 0% 50%;
      border: 1px solid var(--main-purple);
      scale: .94
    }

    &[data-active=true] {
      box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
      background-position: 0% 50%;
      border: 1px solid var(--main-purple);
    }
  }
}

.mainCode {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  &__input {
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    min-height: max(420px, 70vh);
    min-height: max(420px, 70dvh);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__type {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__active {
        color: var(--main-white);
        padding: .4rem;
        font-weight: bold;

        span:first-child {
          padding-right: 0;
        }

        span:last-child {
          padding-left: 0;
          color: var(--main-purple);
          text-shadow: 0 0 4px var(--main-purple);
        }
      }

      &__btnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--main-purple);
          transition: 200ms;

          &:hover {
            color: var(--main-red);
          }

          &:active {
            color: var(--main-red);
            scale: .9
          }
        }
      }

      &__clearConfirm {
        color: var(--main-red);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: .4rem;
        gap: 4px;

        &__buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;

          button {
            cursor: pointer;
            padding: 2px;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .94em;
            background: var(--main-gray);

            &:hover,
            &:focus-visible {
              background: var(--main-red);
              color: rgb(250, 250, 250);
            }

            &:active {
              color: rgb(250, 250, 250);
              background: var(--main-red);
              scale: .9
            }
          }
        }
      }

      &__clear {
        cursor: pointer;
        color: var(--main-red);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        margin-inline: .4rem;

        &:hover,
        &:focus-visible {
          background: var(--main-red)
        }

        &:active {
          background: var(--main-red);
          scale: .9
        }

        &__buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: .4rem;
        }
      }
    }

    &__textWrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;

      pre {
        margin: 0;
        z-index: 0;
        display: flex;
      }

      code {
        max-width: 100%;
        max-height: 100%;
        flex: 1;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }

      pre[class*="language-"],
      code[class*="language-"] {
        font-size: 1rem;
        color: var(--main-white);
        line-height: 1.2;
        font-family: monospace, 'Courier New', Courier;
        tab-size: 2;
      }

      pre[class*="language-"].light-theme,
      code[class*="language-"].light-theme {
        font-size: 1rem;
        color: var(--main-white);
        line-height: 1.2;
      }
    }

    &__text {
      width: 100%;
      flex: 1;
      border-radius: inherit;
      border-radius: .4rem;
      border: 2px solid rgb(100, 100, 100);
      outline: none;
      padding: .5rem .5rem 0 .5rem !important;
      resize: none;
      background: var(--bg-code);
      color: var(--color-code);
      font-size: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      max-height: 100%;

      &.textarea {
        z-index: 1;
        color: transparent;
        background: transparent;
        caret-color: var(--main-white);
        line-height: 1.2;
        tab-size: 2;
        white-space: pre-wrap;
      }

      /* INICIO SCROLLBAR */
      scrollbar-width: thin;
      scrollbar-color: var(--main-gray) var(--bg-main);

      /* width */
      &::-webkit-scrollbar {
        width: 4px;
      }

      /* track */
      &::-webkit-scrollbar-track {
        background: var(--bg-code)
          /* var(--color-back) */
      }

      /* handle */
      &::-webkit-scrollbar-thumb {
        background: var(--bg-main);
      }

      /* FIN SCROLLBAR */
    }
  }

  &__output {
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    min-height: max(420px, 70vh);
    min-height: max(420px, 70dvh);
    display: flex;
    flex-direction: column;

    &__type {
      color: var(--main-white);
      font-weight: bold;
      padding: .4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__full {
        cursor: pointer;
        color: var(--main-red);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        margin-inline: .4rem;

        &:hover,
        &:focus-visible {
          background: var(--main-red)
        }

        &:active {
          background: var(--main-red);
          scale: .9
        }
      }
    }

    &__iframeWrapper {
      overflow: hidden;
      border-radius: .4rem;
      border: 2px solid rgb(100, 100, 100);
      flex: 1;
      display: flex;
      background: white;
      transition: 200ms;
    }

    &__iframe {
      width: 100%;
      min-height: 100%;
      max-height: 100%;
      border: none;
      outline: none;
    }
  }
}

.dim {
  opacity: .4;
  color: transparent !important;
}

.dim * {
  color: transparent !important
}

.moon-fill {
  color: rgb(40, 40, 40);
}

.sun-fill {
  color: rgb(250, 250, 250);
}

.diamond-fill {
  color: var(--main-black)
}


/* modal */
.main__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 1em;
  width: clamp(300px, 300px + 20vw, 800px);
  aspect-ratio: 5/4;
  background: var(--main-purple);
  border: 4px solid var(--main-purple);
  outline: none;
  max-width: 100%;
  overflow: hidden;

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
  }

  .presets {
    flex: 1;
    background-color: var(--main-purple);
    background-image: linear-gradient(45deg, var(--main-purple) 15%, var(--main-black) 15%, var(--main-black) 85%, var(--main-purple) 85%);
    border-radius: .4em;
    padding: max(2%, 1rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1em;
    overflow-y: scroll;

    /* INICIO SCROLLBAR */
    scrollbar-width: thin;
    scrollbar-color: var(--main-gray) var(--bg-main);

    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* track */
    &::-webkit-scrollbar-thumb {
      background: var(--main-purple-variation);
    }

    /* track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* FIN SCROLLBAR */

    &__option {
      aspect-ratio: 1;
      width: clamp(100px, 100px + 2vw, 160px);
      background-color: var(--main-purple);
      background-image: linear-gradient(45deg, var(--main-purple), var(--main-red));
      border: 1px solid var(--main-red);
      cursor: pointer;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      background-size: 300%;
      background-position: 0% 50%;
      border-radius: 1em;
      border: 1px solid var(--main-purple);
      transition: 200ms;
      padding: .2em;
      box-sizing: content-box;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &:hover,
      &:focus-visible {
        box-shadow: -2px 2px 8px 0 var(--main-purple);
      }

      &__confirm {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8em;

        &__buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: .8em;

          span {
            padding: 2px;
            border-radius: .2em;
            background-color: var(--main-purple-variation);
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 48px;
            max-width: 48px;
            font-weight: normal;
            font-size: .94em;
            transition: scale 100ms;

            &:hover,
            &:focus-visible {
              outline: 1px solid var(--main-red)
            }

            &:active {
              outline: 1px solid var(--main-red);
              scale: .94
            }
          }
        }
      }

      &__main {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &__name {
          max-width: 100%;
          word-wrap: break-word;
        }

        &__del {
          position: absolute;
          bottom: -10px;
          right: -10px;
          transition: scale 100ms;

          svg {
            color: var(--main-purple-variation);
          }

          &:hover svg,
          &:focus-visible svg {
            color: var(--main-red)
          }

          &:active {
            color: var(--main-red);
            scale: .94
          }
        }
      }
    }

    &__save {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 1rem;
      max-width: 100%;

      input {
        background: transparent;
        font-size: clamp(1.1rem, 1.1rem + 4vw, 2.4rem);
        font-weight: bold;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--main-purple);
        color: var(--main-white);
        text-shadow: 1px 1px 0 var(--main-purple);
        text-align: center;

        &::placeholder {
          color: rgb(180, 180, 180);
        }
      }

      button {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .4em .8em;
        border-radius: .2em;
        width: clamp(60px, 60px + 2vw, 80px);
        outline: none;
        border: none;
        font-weight: bold;
        background-color: var(--main-purple);
        background-image: linear-gradient(45deg, var(--main-purple), var(--main-red));
        background-size: 300%;
        background-position: 0% 50%;
        color: var(--main-btn-clr);
        font-size: clamp(1.1rem, 1.1rem + 2vw, 1.2rem);
        cursor: pointer;
        transition: 200ms;
        border: 1px solid var(--main-purple);
        position: relative;

        &::after {
          content: attr(data-saved);
          position: absolute;
          top: 50%;
          right: -120%;
          transform: translateY(-50%);
          color: var(--main-purple);
          transition: 200ms;
        }

        &:hover,
        &:focus-visible {
          box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
        }

        &:active {
          box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
          scale: .94
        }

        &[disabled] {
          border: 1px solid rgb(60, 60, 60);
          background: rgb(80, 80, 80);
          pointer-events: none;
        }
      }
    }
  }

  &__header {
    background: var(--main-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 4px 8px;
    color: rgb(250, 250, 250);
    font-size: 1rem;

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      padding: 6px;
      transition: 200ms;
      aspect-ratio: 1;

      &:hover,
      &:focus-visible {
        background: rgba(0, 0, 0, .2)
      }

      &:active {
        background: rgba(0, 0, 0, .2);
        scale: .9
      }

      &[disabled] {
        pointer-events: none;
        color: rgb(80, 80, 80)
      }
    }
  }

  &::backdrop {
    background: rgba(40, 40, 40, .4);
  }
}

/* fin modal */

.d-none {
  display: none;
}