:root {
  --font-primary: monospace, 'Courier New', Courier;

  --main-purple: #6b1ff8;
  --main-purple-variation: #3b158d;
  --main-red: #d31d53;
  --main-white: rgb(248, 248, 248);
  --main-black: rgb(30, 30, 30);
  --main-gray: rgb(80, 80, 80);
  --main-gray-op: rgb(100, 100, 100, .5);

  --clr-nav: rgb(248, 248, 248);

  --color-code: rgb(248, 248, 248);

  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(248, 248, 248);

  --bg-main: rgb(40, 40, 40);
  --bg-code: #1e1e1e;
  --size-main-container: 1500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* INICIO SCROLLBAR */
  scrollbar-width: thin;
  scrollbar-color: var(--main-purple) var(--bg-main);

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* track */
  ::-webkit-scrollbar-track {
    background: var(--bg-main)
  }

  /* handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-purple);
  }

  /* FIN SCROLLBAR */

  ::selection {
    color: var(--main-purple-variation);
    background: var(--main-purple);
  }
}

body,
#root,
.root-theme {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: var(--font-primary);
  line-height: 1.2;
  background: var(--bg-main);
}

.dark-theme {
  --main-purple: rgb(107, 31, 248);
  --main-purple-variation: rgb(59, 21, 141);
  --main-red: rgb(210, 28, 83);
  --main-white: rgb(248, 248, 248);
  --main-black: rgb(30, 30, 30);
  --main-gray: rgb(80, 80, 80);
  --main-gray-op: rgb(100, 100, 100, .5);

  --clr-nav: rgb(248, 248, 248);

  --color-code: rgb(248, 248, 248);

  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(248, 248, 248);

  --bg-main: rgb(40, 40, 40);
  --bg-code: #1e1e1e;
}

.light-theme {
  --main-purple: rgb(107, 31, 248);
  --main-red: rgb(210, 28, 83);
  --main-white: rgb(30, 30, 30);
  --main-black: rgb(248, 248, 248);
  --main-gray: rgb(220, 220, 220);

  --clr-nav: rgb(248, 248, 248);

  --color-code: rgb(30, 30, 30);

  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(248, 248, 248);

  --bg-main: rgb(238, 238, 238);
  --bg-code: #fffffe;
}


a,
button,
textarea,
input {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  background: none;
}

/* header */
.main__header {
  width: 100%;
  background: linear-gradient(45deg, var(--main-purple), var(--main-red));
  color: var(--clr-nav);
  padding: 3px 8px;
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: sticky;
  top: 0;
  overflow: hidden;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__site {
    font-weight: normal;
    font-size: .8rem;
    text-shadow: 1px 1px 0 rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font: inherit;
    }

    &:focus-visible {
      outline: 1px solid var(--main-red);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    >div button {
      background: none;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      padding: 2px;
      transition: 200ms;
      color: var(--main-black);

      svg {
        fill: var(--main-black);
      }

      &:hover,
      &:focus-visible {
        filter: drop-shadow(0 0 4px var(--main-black));
      }

      &:active {
        filter: drop-shadow(0 0 4px var(--main-black));
        scale: .9
      }

      &.create-new {
        color: var(--main-red);
        background: var(--main-black);
        border-radius: 0;

        svg {
          fill: var(--main-red);
        }
      }
    }
  }


  .new-project {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);

    &-confirm {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      &-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;

        button {
          cursor: pointer;
          border-radius: 0;
          padding: 0;
          border-radius: 0;
          width: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: none;
          filter: none;
          color: var(--main-white);
          background: var(--main-gray);

          &:hover,
          &:focus-visible {
            background: var(--main-purple);
          }
        }
      }
    }
  }
}

/* fin header */


/* footer */
.main__footer {
  background: color-mix(in srgb, var(--main-purple) 8%, black);
  color: var(--clr-nav);
  padding: .2rem;
  font-size: .8rem;
  display: flex;
  justify-content: end;
}

/* fin footer */

.mainContainer {
  width: 100%;
  background: var(--bg-main);
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: 0% -20%;
    background-size: max(600px, 50%);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: 0% -20%;
    background-size: max(600px, 50%);
    z-index: 0;
    transform: rotate(180deg);
  }
}


.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  z-index: 1;
  max-width: var(--size-main-container);

  &__sharedNotFound,
  &__sharedLoading {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: .5rem;
    background: rgb(var(--main-white));
    padding: 2rem;
    border-radius: .5em;
    white-space: pre-wrap;
    margin: auto;
    background: var(--main-black);
    border: 2px solid var(--main-red);

    h2 {
      line-height: 1;
      color: var(--main-white);
      font-size: 3rem;
    }

    p {
      color: var(--main-white)
    }

    a {
      padding: .5rem;
      background: linear-gradient(45deg, var(--main-purple), var(--main-red));
      border-radius: .25em;
      color: rgb(248, 248, 248);
      margin-top: .5rem;
      transition: scale 200ms;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      line-height: 1;

      &:hover {
        outline: 2px solid var(--main-purple)
      }

      &:active {
        outline: 2px solid var(--main-purple);
        scale: .9
      }
    }
  }

  &__sharedLoading {
    border-color: var(--main-purple);
  }
}

.tabs {
  display: flex;
  gap: clamp(.2rem, .2rem + 2vw, 2rem);
  justify-content: center;
  padding: 1rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4em .8em;
    border-radius: .2em;
    width: clamp(60px, 60px + 2vw, 80px);
    outline: none;
    border: none;
    font-weight: bold;
    background-color: var(--main-purple);
    background-image: linear-gradient(45deg, var(--main-purple), var(--main-red));
    background-size: 300%;
    background-position: 50% 50%;
    color: var(--main-btn-clr);
    font-size: clamp(1.1rem, 1.1rem + 2vw, 1.2rem);
    cursor: pointer;
    transition: 200ms;
    border: 1px solid var(--main-red);
    text-shadow: 1px 1px 0 rgb(40, 40, 40);

    &:hover,
    &:focus-visible {
      box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
      background-position: 0% 50%;
      border: 1px solid var(--main-purple);
    }

    &:active {
      box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
      background-position: 0% 50%;
      border: 1px solid var(--main-purple);
      scale: .94
    }

    &[data-active=true] {
      box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
      background-position: 0% 50%;
      border: 1px solid var(--main-purple);
    }
  }
}

.mainCode {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;

  @media(min-width: 800px) {
    flex-direction: row;
    gap: 0;
  }

  .NoSplitPane {
    @media(min-width: 800px) {
      display: none !important;
    }
  }

  .SplitPane.vertical {
    flex-grow: 1;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 799px) {
      display: none !important;
    }
  }

  .Pane.vertical {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Pane1.vertical {
    min-width: 300px;
  }

  .Resizer.vertical {
    cursor: col-resize;
    width: 2rem;
    height: 100%;
    position: relative;

    &::after {
      content: "↔";
      aspect-ratio: 1;
      width: 1rem;
      font-size: 2rem;
      position: absolute;
      left: calc(50% - 1px);
      top: 50%;
      translate: -50% -50%;
      color: var(--main-purple);
      pointer-events: none;
      opacity: .5
    }

    &:active::after {
      opacity: 1
    }
  }

  &__input {
    min-width: 300px;
    width: 100%;
    max-width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media(min-width: 800px) {
      flex: 1;
      min-height: min(1080px, 74dvh);
      min-height: min(1080px, 74vh);
      height: clamp(min(1080px, 74dvh), 74dvh, 1080px);
      height: clamp(min(1080px, 74vh), 74vh, 1080px);
    }

    &__type {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem;

      &__active {
        color: var(--main-white);
        font-weight: bold;

        span:first-child {
          padding-right: 0;
        }

        span:last-child {
          padding-left: 0;
          color: var(--main-purple);
          text-shadow: 0 0 4px var(--main-purple);
        }
      }

      &__btnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
      }

      &__iconBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-purple);
        transition: 200ms;
        cursor: pointer;

        &:hover,
        &:focus-visible {
          color: var(--main-red);
        }

        &:active {
          color: var(--main-red);
          scale: .9
        }

        &.active-on {
          color: var(--main-red);
        }
      }

      &__clearConfirm {
        color: var(--main-red);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: .4rem;
        gap: 4px;

        &__buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;

          button {
            cursor: pointer;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .94em;
            background: var(--main-gray);
            padding: 0;
            transition: none;

            &:hover,
            &:focus-visible {
              background: var(--main-red);
              color: rgb(248, 248, 248);
            }

            &:active {
              color: rgb(248, 248, 248);
              background: var(--main-red);
              scale: .9
            }
          }
        }
      }

      &__clear {
        cursor: pointer;
        color: var(--main-red);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        transition: 200ms;

        &:hover,
        &:focus-visible {
          background: var(--main-red)
        }

        &:active {
          background: var(--main-red);
          scale: .9
        }

        &__buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: .4rem;
        }
      }
    }

    &__textWrapper {
      flex: 1;
      width: 100%;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      position: relative;
      height: clamp(min(1080px, 74dvh), 74dvh, 1080px);
      height: clamp(min(1080px, 74vh), 74vh, 1080px);
      overflow: hidden;
      color: var(--main-purple);

      @media(min-width: 800px) {
        min-width: initial;
      }

      &__inner {
        display: flex;
        height: 420px;
        max-height: 582px;
        overflow: hidden;
        border-radius: .5rem;
        border: 2px solid rgb(100, 100, 100);
        background: var(--bg-code);

        @media(min-width: 800px) {
          height: 100%;
          resize: vertical;
        }

        &::-webkit-resizer {
          background-color: transparent;
          /* background-image: url("/resize-vert.svg");
          background-repeat: no-repeat; */
        }
      }
    }
  }

  &__output {
    flex: 1;
    width: 100%;
    min-width: 300px;
    height: clamp(min(1080px, 74dvh), 74dvh, 1080px);
    height: clamp(min(1080px, 74vh), 74vh, 1080px);
    display: flex;
    flex-direction: column;

    @media(min-width: 800px) {
      min-width: initial;
    }

    &__type {
      color: var(--main-white);
      font-weight: bold;
      padding: .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__btnWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        button,
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--main-purple);
          transition: 200ms;
          outline: none;
          border: none;

          &:hover,
          &:focus-visible {
            color: var(--main-red);
          }

          &:active {
            color: var(--main-red);
            scale: .9
          }
        }
      }

      &__full {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;

        svg {
          color: var(--main-red);
          fill: var(--main-red);
        }

        &:hover,
        &:active {
          background-color: var(--main-red);
        }
      }
    }

    &__iframeWrapper {
      border-radius: .5rem;
      border: 2px solid rgb(100, 100, 100);
      display: flex;
      background: white;
      transition: opacity 200ms;
      width: 100%;
      max-width: 100%;
      height: 420px;
      max-height: 582px;
      overflow: hidden;

      @media(min-width: 800px) {
        height: 100%;
        resize: vertical;
      }

      &::-webkit-resizer {
        background-color: transparent;
        /* background-image: url("/resize-vert.svg");
        background-repeat: no-repeat; */
      }
    }

    &__iframe {
      border-radius: .2em;
      width: 100%;
      min-height: 100%;
      max-height: 100%;
      border: none;
      outline: none;
    }
  }
}

.dim {
  opacity: .4;
  color: transparent !important;
}

.dim * {
  color: transparent !important
}

.clr-red {
  color: var(--main-red) !important
}

.moon-fill {
  color: rgb(40, 40, 40);
}

.sun-fill {
  color: rgb(248, 248, 248);
}

.diamond-fill {
  color: var(--main-black)
}


/* modal */
.main__modal {
  position: fixed;
  inset: 0;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;

  &[open] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    background: var(--main-purple-variation);
    border-radius: 1em;
    width: clamp(300px, 300px + 40vw, 800px);
    aspect-ratio: 5/4;
    min-height: min(500px, 80%);
    background: var(--main-purple-variation);
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__header {
    background: var(--main-purple-variation);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    color: rgb(248, 248, 248);
    font-size: 1rem;
    z-index: 1;

    >span {
      padding-inline: 6px;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      button {
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        padding: .5rem;
        transition: 200ms;
        aspect-ratio: 1;
        fill: var(--main-purple);

        svg {
          fill: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:hover,
        &:focus-visible {
          fill: rgb(248, 248, 248);
          background: rgba(20, 20, 20, .4);
        }

        &:active {
          fill: rgb(248, 248, 248);
          scale: .9;
          background: rgba(20, 20, 20, .4);
        }

        &[disabled] {
          pointer-events: none;
          color: rgb(80, 80, 80);

          svg {
            color: rgb(80, 80, 80);
            fill: rgb(80, 80, 80);
          }
        }

        &.modalOptionActive {
          fill: rgb(248, 248, 248);
          background: rgba(20, 20, 20, .4);
        }
      }
    }
  }

  &__content {
    flex: 1;
    border-radius: 0 0 1em 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow-y: auto;
    border: 2px solid var(--main-purple-variation);
    border-top: none;
    background: var(--main-black);
    overflow-x: hidden;
    padding-inline: min(8%, 5rem);
    padding-block: min(8%, 1rem);

    div[role=button].presets__noSnippet {
      cursor: pointer;

      &:hover,
      &:focus-visible {
        color: var(--main-purple)
      }

      &:active {
        color: var(--main-purple)
      }
    }

    /* INICIO SCROLLBAR */
    scrollbar-width: thin;
    scrollbar-color: var(--main-gray) var(--bg-main);

    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* track */
    &::-webkit-scrollbar-thumb {
      background: var(--main-purple-variation);
    }

    /* track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* FIN SCROLLBAR */

    &__innerWrapper {
      flex: 1;
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: clamp(1rem, 1rem + 1vw, 2rem);
    }
  }


  .presets {
    &__noSnippet {
      font-size: 1.5rem;
      color: var(--main-white);
    }

    &__profile {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      flex: 1;

      &__userInfo {
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 1rem;
        color: var(--main-white);
        flex: 1;
        max-width: 360px;

        &__data {
          word-break: break-all;
          white-space: pre-wrap;
          display: flex;
          justify-content: center;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 2rem;

          &__img {
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            aspect-ratio: 1;
            background: var(--main-purple-variation);
            border-radius: 50%;
            outline: 2px solid var(--main-purple);

            img {
              aspect-ratio: 1;
              border-radius: 50%;
              width: 120px;
              object-fit: cover;
            }

            input[type=file] {
              display: none;
            }

            &__upload {
              position: absolute;
              bottom: -12px;
              right: -12px;
              margin: auto;
              color: var(--main-gray-op);
              aspect-ratio: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 8px;
              cursor: pointer;

              &:hover,
              &:focus-visible {
                color: var(--main-purple)
              }
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: .5rem;
            min-width: 240px;

            &__line {
              display: flex;
              justify-content: center;
              align-items: center;

              >span:first-child {
                color: var(--main-purple);
              }

              >span:nth-child(2) {
                flex: 1
              }

              input {
                background: none;
                outline: none;
                border: none;
                box-shadow: 0 1px 0 0 var(--main-purple);
              }

              &__btnContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 1em;
                gap: .5em;

                button {
                  cursor: pointer;
                  color: var(--main-gray-op);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition: scale 200ms;

                  &:hover,
                  &:focus-visible {
                    color: var(--main-purple)
                  }

                  &:not(.editName) {
                    aspect-ratio: 1;
                    width: 18px;
                    border-radius: 50%;
                    background: var(--main-gray-op);
                    color: var(--main-white);

                    svg.bi-x-lg {
                      scale: .8
                    }

                    &:hover,
                    &:focus-visible {
                      background: var(--main-purple);
                    }
                  }

                  &:active {
                    scale: .9
                  }

                  &[disabled] {
                    filter: grayscale(1);
                    scale: 1;
                  }

                }
              }
            }

          }

          &__signOut {
            cursor: pointer;
            color: var(--main-red);
            fill: var(--main-red);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            font-weight: bold;

            svg {
              fill: inherit;
            }

            &:hover,
            &:focus-visible {
              color: var(--main-white);
              fill: var(--main-white)
            }
          }
        }
      }

      &__googleBtn {
        font-size: 1.4rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: var(--main-white);
        fill: var(--main-purple-variation);
        padding: 1em;
        transition: 200ms;
        background: var(--main-gray);
        border-radius: .4em;
        cursor: pointer;
        font-weight: bold;

        svg {
          fill: inherit
        }

        &:hover,
        &:focus-visible {
          color: var(--main-purple);
          fill: var(--main-purple);
          background: var(--main-purple-variation);
        }

        &:active {
          scale: .9;
          color: var(--main-purple);
          fill: var(--main-purple);
          background: var(--main-purple-variation);
        }
      }
    }

    &__option {
      aspect-ratio: 1/3;
      width: clamp(100px, 100px + 10vw, 180px);
      max-height: 127px;
      background-color: var(--main-purple);
      background-image: linear-gradient(45deg, var(--main-purple), var(--main-red));
      border: 2px solid var(--main-purple);
      cursor: pointer;
      color: rgb(248, 248, 248);
      font-weight: bold;
      font-size: 1.2rem;
      border-radius: .4em;
      padding: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;

      &[disabled] {
        pointer-events: none;
      }

      &:hover,
      &:focus-visible,
      &:focus-within,
      &:active {
        box-shadow: 0 0 10px 0 var(--main-purple);
        outline: 4px solid var(--main-purple);
        outline-offset: -2px
      }

      &:hover button,
      &:focus-visible button,
      &:focus-within button,
      &:active button {
        opacity: 1;
      }

      &__confirm {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8em;
        text-align: center;
        padding: 4px;

        input {
          background: none;
          max-width: 100%;
          outline: none;
          border: none;
          border-bottom: 1px dashed var(--main-purple-variation);
          text-align: center;

          &::placeholder {
            color: rgb(180, 180, 180);
          }
        }

        &__buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: .8em;

          button {
            padding: 4px 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 48px;
            max-width: 48px;
            font-weight: normal;
            font-size: .94em;
            line-height: 1;
            border-radius: 2px;
            color: var(--main-purple-variation);
            cursor: pointer;

            &:hover,
            &:focus-visible {
              color: rgb(248, 248, 248);
              font-weight: bold;
            }

            &:active {
              color: rgb(248, 248, 248);
              font-weight: bold;
            }
          }
        }
      }

      &__main {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;

        &__name {
          max-width: 100%;
          word-wrap: break-word;
          text-align: center;
        }

        &__buttons {
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: end;
          align-items: center;
          gap: 2px;
          width: 100%;
          padding: 4px;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            width: 20px;
            opacity: 0;
            cursor: pointer;

            svg {
              color: var(--main-purple-variation);
              fill: var(--main-purple-variation);
            }

            &:hover svg,
            &:focus-visible svg {
              color: rgb(248, 248, 248);
              fill: rgb(248, 248, 248);
            }

            &:active {
              color: rgb(248, 248, 248);
              fill: rgb(248, 248, 248);
              scale: .9
            }

            &:first-child {
              margin-right: auto;
            }
          }
        }
      }
    }

    &__save {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      max-width: 100%;

      form {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1rem;
        max-width: 100%;
      }

      input {
        background: transparent;
        font-size: clamp(1.1rem, 1.1rem + 4vw, 2.4rem);
        font-weight: bold;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--main-purple);
        color: var(--main-white);
        text-align: center;

        &::placeholder {
          color: rgb(180, 180, 180);
        }
      }

      button {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .4em .8em;
        border-radius: .2em;
        width: clamp(60px, 60px + 2vw, 80px);
        outline: none;
        border: none;
        font-weight: bold;
        background-color: var(--main-purple);
        background-image: linear-gradient(45deg, var(--main-purple), var(--main-red));
        background-size: 300%;
        background-position: 0% 50%;
        color: var(--main-btn-clr);
        font-size: clamp(1.1rem, 1.1rem + 2vw, 1.2rem);
        cursor: pointer;
        transition: 200ms;
        border: 1px solid var(--main-purple);
        position: relative;

        &::after {
          content: attr(data-saved);
          position: absolute;
          top: 50%;
          right: -150%;
          translate: 0 -50%;
          color: var(--main-purple);
          transition: 200ms;
          font-weight: normal;
        }

        &:hover,
        &:focus-visible {
          box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
        }

        &:active {
          box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
          scale: .94
        }

        &[disabled] {
          border: 1px solid rgb(60, 60, 60);
          background: rgb(80, 80, 80);
          pointer-events: none;
        }
      }
    }

    &__tabs {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 16px;
      left: -2px;
      padding: 4px;
      gap: 4px;

      &__btn {
        cursor: pointer;
        padding: 4px;
        color: rgb(248, 248, 248);
        transition: none;
        border-radius: 0 2px 2px 0;
        background: var(--main-gray-op);
        width: 65px;
        height: 40px;
        text-align: left;
        white-space: pre-wrap;

        &:hover,
        &:focus-visible {
          font-weight: bold;
          background-color: var(--main-purple-variation);
          color: rgb(248, 248, 248)
        }

        &:active {
          scale: none;
          font-weight: bold;
          background-color: var(--main-purple-variation);
          color: rgb(248, 248, 248)
        }

        &--active {
          font-weight: bold;
          background-color: var(--main-purple-variation);
          color: rgb(248, 248, 248);
        }
      }
    }
  }

  &::backdrop {
    background: rgba(40, 40, 40, .4);
    background: transparent;
  }
}

/* fin modal */

.d-none {
  display: none;
}

.pe-none {
  pointer-events: none;
}

/* loader */
.loader {
  color: var(--main-purple);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  margin: 4rem auto;
}

.presets__profile__userInfo__data .loader {
  font-size: 2px;
  margin: 0;
}

.presets__profile__userInfo__data__img .loader {
  position: absolute;
  bottom: -6px;
  right: -6px;
}

.presets__option .loader {
  font-size: 5px;
  margin: 0;
}

@-webkit-keyframes load4 {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/* fin loader */

li[data-sonner-toast] {
  background: var(--main-purple-variation) !important;
  border-color: var(--main-purple) !important;
  color: rgb(248, 248, 248) !important;
  word-break: break-all;
  white-space: pre-wrap;
}

.animWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 1rem + 1vw, 2rem);
}

.notFound {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  &__inner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: .5rem;
    background: rgb(var(--main-white));
    padding: 2rem;
    width: clamp(300px, 300px + 10vw, 800px);
    border-radius: .5em;
    white-space: pre-wrap;

    h1 {
      font-size: 2rem;
      line-height: 1;
      color: rgb(248, 248, 248);
      font-size: 3rem;
    }

    p {
      color: rgb(248, 248, 248)
    }

    a {
      padding: .5rem;
      background: linear-gradient(45deg, var(--main-purple), var(--main-red));
      border-radius: .25em;
      color: rgb(248, 248, 248);
      margin-top: .5rem;
      transition: scale 200ms;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      line-height: 1;

      &:hover {
        outline: 2px solid var(--main-purple)
      }

      &:active {
        outline: 2px solid var(--main-purple);
        scale: .9
      }
    }
  }
}