:root {
  --main-purple: rgb(107, 31, 248);
  --main-purple-variation: rgb(59, 21, 141);
  --main-red: rgb(210, 28, 83);
  --main-white: rgb(248, 248, 248);
  --main-black: rgb(30, 30, 30);
  --main-gray: rgb(80, 80, 80);
  --clr-nav: rgb(248, 248, 248);
  --color-code: rgb(248, 248, 248);
  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(248, 248, 248);
  --bg-main: rgb(40, 40, 40);
  --bg-code: rgb(80, 80, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* INICIO SCROLLBAR */
  scrollbar-width: thin;
  scrollbar-color: var(--main-purple) var(--bg-main);
  /* width */
  /* track */
  /* handle */
  /* FIN SCROLLBAR */
}
html ::-webkit-scrollbar {
  width: 8px;
}
html ::-webkit-scrollbar-track {
  background: var(--bg-main);
}
html ::-webkit-scrollbar-thumb {
  background: var(--main-purple);
}
html ::selection {
  color: var(--main-purple-variation);
  background: var(--main-purple);
}

body,
#root,
.root-theme {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: monospace, "Courier New", Courier;
  line-height: 1.2;
}

.dark-theme {
  --main-purple: rgb(107, 31, 248);
  --main-purple-variation: rgb(59, 21, 141);
  --main-red: rgb(210, 28, 83);
  --main-white: rgb(248, 248, 248);
  --main-black: rgb(30, 30, 30);
  --main-gray: rgb(80, 80, 80);
  --clr-nav: rgb(248, 248, 248);
  --color-code: rgb(248, 248, 248);
  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(248, 248, 248);
  --bg-main: rgb(40, 40, 40);
  --bg-code: rgb(30, 30, 30);
}

.light-theme {
  --main-purple: rgb(107, 31, 248);
  --main-red: rgb(210, 28, 83);
  --main-white: rgb(30, 30, 30);
  --main-black: rgb(248, 248, 248);
  --main-gray: rgb(220, 220, 220);
  --clr-nav: rgb(248, 248, 248);
  --color-code: rgb(30, 30, 30);
  --main-btn-bg: rgb(107, 31, 248);
  --main-btn-clr: rgb(248, 248, 248);
  --bg-main: rgb(238, 238, 238);
  --bg-code: rgb(248, 248, 248);
}

a,
button,
textarea,
input {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  background: none;
}

/* header */
.main__header {
  background: linear-gradient(45deg, var(--main-purple), var(--main-red));
  color: var(--clr-nav);
  padding: 3px 8px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.main__header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__header__site {
  font-weight: normal;
  font-size: 0.8rem;
  text-shadow: 1px 1px 0 rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__header__site h1 {
  font: inherit;
}
.main__header__site:focus-visible {
  outline: 1px solid var(--main-red);
}
.main__header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main__header__buttons > div button {
  background: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px;
  transition: 200ms;
  color: var(--main-black);
}
.main__header__buttons > div button svg {
  fill: var(--main-black);
}
.main__header__buttons > div button:hover, .main__header__buttons > div button:focus-visible {
  filter: drop-shadow(0 0 4px var(--main-black));
}
.main__header__buttons > div button:active {
  filter: drop-shadow(0 0 4px var(--main-black));
  scale: 0.9;
}
.main__header__buttons > div button.create-new {
  color: var(--main-red);
  background: var(--main-black);
  border-radius: 0;
}
.main__header__buttons > div button.create-new svg {
  fill: var(--main-red);
}
.main__header .new-project {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
}
.main__header .new-project-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.main__header .new-project-confirm-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.main__header .new-project-confirm-btns button {
  cursor: pointer;
  border-radius: 0;
  padding: 0;
  border-radius: 0;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: none;
  filter: none;
  color: var(--main-white);
  background: var(--main-gray);
}
.main__header .new-project-confirm-btns button:hover, .main__header .new-project-confirm-btns button:focus-visible {
  background: var(--main-purple);
}

/* fin header */
/* footer */
.main__footer {
  background: color-mix(in srgb, var(--main-purple) 8%, black);
  color: var(--clr-nav);
  padding: 0.2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: end;
}

/* fin footer */
.mainContainer {
  width: 100%;
  background: var(--bg-main);
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/icon.svg");
  background-repeat: no-repeat;
  background-position: 0% -20%;
  background-size: max(600px, 50%);
  z-index: 0;
}
.mainContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/icon.svg");
  background-repeat: no-repeat;
  background-position: 0% -20%;
  background-size: max(600px, 50%);
  z-index: 0;
  transform: rotate(180deg);
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  flex: 1;
  z-index: 1;
}

.tabs {
  display: flex;
  gap: clamp(0.2rem, 0.2rem + 2vw, 2rem);
  justify-content: center;
  padding: 1rem;
}
.tabs button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 0.8em;
  border-radius: 0.2em;
  width: clamp(60px, 60px + 2vw, 80px);
  outline: none;
  border: none;
  font-weight: bold;
  background-color: var(--main-purple);
  background-image: linear-gradient(45deg, var(--main-purple), var(--main-red));
  background-size: 300%;
  background-position: 50% 50%;
  color: var(--main-btn-clr);
  font-size: clamp(1.1rem, 1.1rem + 2vw, 1.2rem);
  cursor: pointer;
  transition: 200ms;
  border: 1px solid var(--main-red);
  text-shadow: 1px 1px 0 rgb(40, 40, 40);
}
.tabs button:hover, .tabs button:focus-visible {
  box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
  background-position: 0% 50%;
  border: 1px solid var(--main-purple);
}
.tabs button:active {
  box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
  background-position: 0% 50%;
  border: 1px solid var(--main-purple);
  scale: 0.94;
}
.tabs button[data-active=true] {
  box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
  background-position: 0% 50%;
  border: 1px solid var(--main-purple);
}

.mainCode {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
}
@media (min-width: 800px) {
  .mainCode {
    flex-direction: row;
    gap: 0;
  }
}
.mainCode .SplitPane.vertical {
  flex-grow: 1;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainCode .Pane.vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainCode .Resizer.vertical {
  cursor: col-resize;
  width: 2rem;
  height: 100%;
}
.mainCode__input {
  flex: 1;
  min-width: 300px;
  width: 100%;
  max-width: 100%;
  height: clamp(420px, 74dvh, 1080px);
  height: clamp(420px, 74vh, 1080px);
  min-height: min(1080px, 74dvh);
  min-height: min(1080px, 74vh);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.mainCode__input__type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.mainCode__input__type__active {
  color: var(--main-white);
  font-weight: bold;
}
.mainCode__input__type__active span:first-child {
  padding-right: 0;
}
.mainCode__input__type__active span:last-child {
  padding-left: 0;
  color: var(--main-purple);
  text-shadow: 0 0 4px var(--main-purple);
}
.mainCode__input__type__btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mainCode__input__type__format, .mainCode__input__type__comment {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-purple);
  transition: 200ms;
  cursor: pointer;
}
.mainCode__input__type__format:hover, .mainCode__input__type__comment:hover {
  color: var(--main-red);
}
.mainCode__input__type__format:active, .mainCode__input__type__comment:active {
  color: var(--main-red);
  scale: 0.9;
}
.mainCode__input__type__clip {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-purple);
  transition: 200ms;
  cursor: pointer;
}
.mainCode__input__type__clip:hover {
  color: var(--main-red);
}
.mainCode__input__type__clip:active {
  color: var(--main-red);
  scale: 0.9;
}
.mainCode__input__type__clearConfirm {
  color: var(--main-red);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0.4rem;
  gap: 4px;
}
.mainCode__input__type__clearConfirm__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.mainCode__input__type__clearConfirm__buttons button {
  cursor: pointer;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.94em;
  background: var(--main-gray);
  padding: 0;
  transition: none;
}
.mainCode__input__type__clearConfirm__buttons button:hover, .mainCode__input__type__clearConfirm__buttons button:focus-visible {
  background: var(--main-red);
  color: rgb(248, 248, 248);
}
.mainCode__input__type__clearConfirm__buttons button:active {
  color: rgb(248, 248, 248);
  background: var(--main-red);
  scale: 0.9;
}
.mainCode__input__type__clear {
  cursor: pointer;
  color: var(--main-red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  transition: 200ms;
}
.mainCode__input__type__clear:hover, .mainCode__input__type__clear:focus-visible {
  background: var(--main-red);
}
.mainCode__input__type__clear:active {
  background: var(--main-red);
  scale: 0.9;
}
.mainCode__input__type__clear__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.mainCode__input__textWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.mainCode__input__textWrapper pre {
  margin: 0;
  z-index: 0;
  display: flex;
}
.mainCode__input__textWrapper code {
  max-width: 100%;
  max-height: 100%;
  flex: 1;
}
.mainCode__input__textWrapper pre[class*=language-],
.mainCode__input__textWrapper code[class*=language-] {
  font-size: 1rem;
  color: var(--main-white);
  line-height: 1.2;
  font-family: monospace, "Courier New", Courier;
  tab-size: 2;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.mainCode__input__textWrapper pre[class*=language-].light-theme,
.mainCode__input__textWrapper code[class*=language-].light-theme {
  font-size: 1rem;
  color: var(--main-white);
  line-height: 1.2;
}
.mainCode__input__text {
  width: 100%;
  flex: 1;
  border-radius: inherit;
  border-radius: 0.4rem;
  border: 2px solid rgb(100, 100, 100);
  outline: none;
  padding: 0.5rem 0.5rem 0 0.5rem !important;
  resize: none;
  background: var(--bg-code);
  color: var(--color-code);
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  max-height: 100%;
  /* INICIO SCROLLBAR */
  scrollbar-width: thin;
  scrollbar-color: var(--main-gray) var(--main-black);
  /* width */
  /* track */
  /* handle */
  /* FIN SCROLLBAR */
}
.mainCode__input__text.textarea {
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: var(--main-white);
  line-height: 1.2;
  tab-size: 2;
  white-space: pre-wrap;
  transition: opacity 200ms;
}
.mainCode__input__text::-webkit-scrollbar {
  width: 8px;
}
.mainCode__input__text::-webkit-scrollbar-track {
  background: var(--main-black);
  border-radius: 1em;
}
.mainCode__input__text::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
}
.mainCode__output {
  flex: 1;
  min-width: 300px;
  width: 100%;
  max-width: 100%;
  height: clamp(420px, 74dvh, 1080px);
  height: clamp(420px, 74vh, 1080px);
  min-height: min(1080px, 74dvh);
  min-height: min(1080px, 74vh);
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .mainCode__output {
    min-width: initial;
  }
}
.mainCode__output__type {
  color: var(--main-white);
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainCode__output__type__btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mainCode__output__type__btnWrapper button,
.mainCode__output__type__btnWrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-purple);
  transition: 200ms;
}
.mainCode__output__type__btnWrapper button:hover,
.mainCode__output__type__btnWrapper a:hover {
  color: var(--main-red);
}
.mainCode__output__type__btnWrapper button:active,
.mainCode__output__type__btnWrapper a:active {
  color: var(--main-red);
  scale: 0.9;
}
.mainCode__output__type__full {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.mainCode__output__type__full svg {
  color: var(--main-red);
  fill: var(--main-red);
}
.mainCode__output__type__full:hover, .mainCode__output__type__full:active {
  background-color: var(--main-red);
}
.mainCode__output__iframeWrapper {
  border-radius: 0.4rem;
  border: 2px solid rgb(100, 100, 100);
  display: flex;
  background: white;
  transition: opacity 200ms;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  resize: vertical;
}
.mainCode__output__iframe {
  border-radius: 0.2em;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  border: none;
  outline: none;
}

.dim {
  opacity: 0.4;
  color: transparent !important;
}

.dim * {
  color: transparent !important;
}

.clr-red {
  color: var(--main-red) !important;
}

.moon-fill {
  color: rgb(40, 40, 40);
}

.sun-fill {
  color: rgb(248, 248, 248);
}

.diamond-fill {
  color: var(--main-black);
}

/* modal */
.main__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 1em;
  width: clamp(300px, 300px + 40vw, 800px);
  aspect-ratio: 5/4;
  min-height: min(500px, 80%);
  background: var(--main-purple-variation);
  outline: none;
  border: none;
  max-width: 100%;
}
.main__modal__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  background: var(--main-purple-variation);
}
.main__modal__header {
  background: var(--main-purple-variation);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  color: rgb(248, 248, 248);
  font-size: 1rem;
}
.main__modal__header > span {
  padding-inline: 6px;
}
.main__modal__header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.main__modal__header__buttons button {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  transition: 200ms;
  aspect-ratio: 1;
  fill: var(--main-purple);
}
.main__modal__header__buttons button svg {
  fill: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__modal__header__buttons button:hover, .main__modal__header__buttons button:focus-visible {
  fill: rgb(248, 248, 248);
  background: rgba(20, 20, 20, 0.4);
}
.main__modal__header__buttons button:active {
  fill: rgb(248, 248, 248);
  scale: 0.9;
  background: rgba(20, 20, 20, 0.4);
}
.main__modal__header__buttons button[disabled] {
  pointer-events: none;
  color: rgb(80, 80, 80);
}
.main__modal__header__buttons button[disabled] svg {
  color: rgb(80, 80, 80);
  fill: rgb(80, 80, 80);
}
.main__modal__header__buttons button.modalOptionActive {
  fill: rgb(248, 248, 248);
  background: rgba(20, 20, 20, 0.4);
}
.main__modal .presets {
  flex: 1;
  border-radius: 0 0 1em 1em;
  padding-inline: max(4%, 1rem);
  padding-block: max(8%, 2rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: clamp(8px, 10%, 2em);
  overflow-y: scroll;
  border: 2px solid var(--main-purple-variation);
  border-top: none;
  background: var(--main-black);
  position: relative;
  overflow-x: hidden;
  /* INICIO SCROLLBAR */
  scrollbar-width: thin;
  scrollbar-color: var(--main-gray) var(--bg-main);
  /* width */
  /* track */
  /* track */
  /* FIN SCROLLBAR */
}
.main__modal .presets div[role=button] {
  cursor: pointer;
}
.main__modal .presets div[role=button]:hover, .main__modal .presets div[role=button]:focus-visible {
  color: var(--main-purple);
}
.main__modal .presets div[role=button]:active {
  color: var(--main-purple);
}
.main__modal .presets::-webkit-scrollbar {
  width: 4px;
}
.main__modal .presets::-webkit-scrollbar-thumb {
  background: var(--main-purple-variation);
}
.main__modal .presets::-webkit-scrollbar-track {
  background: transparent;
}
.main__modal .presets__noSnippet {
  font-size: 1.5rem;
  color: var(--main-white);
}
.main__modal .presets__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.main__modal .presets__profile__userInfo {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  color: var(--main-white);
}
.main__modal .presets__profile__userInfo__data {
  word-break: break-all;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main__modal .presets__profile__userInfo__data__img {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__modal .presets__profile__userInfo__data__img img {
  border-radius: 50%;
  width: 100px;
  object-fit: cover;
}
.main__modal .presets__profile__userInfo__data__text {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
.main__modal .presets__profile__userInfo__data__text__line {
  display: flex;
  justify-content: center;
}
.main__modal .presets__profile__userInfo__data__text__line > span:first-child {
  color: var(--main-purple);
}
.main__modal .presets__profile__userInfo__data__signOut {
  cursor: pointer;
  color: var(--main-red);
  fill: var(--main-red);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main__modal .presets__profile__userInfo__data__signOut svg {
  fill: inherit;
}
.main__modal .presets__profile__userInfo__data__signOut:hover, .main__modal .presets__profile__userInfo__data__signOut:focus-visible {
  color: var(--main-white);
  fill: var(--main-white);
}
.main__modal .presets__profile__googleBtn {
  font-size: 1.4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--main-white);
  fill: var(--main-purple-variation);
  padding: 1em;
  transition: 200ms;
  background: var(--main-gray);
  border-radius: 0.4em;
  cursor: pointer;
}
.main__modal .presets__profile__googleBtn svg {
  fill: inherit;
}
.main__modal .presets__profile__googleBtn:hover, .main__modal .presets__profile__googleBtn:focus-visible {
  color: var(--main-purple);
  fill: var(--main-purple);
  background: var(--main-purple-variation);
}
.main__modal .presets__profile__googleBtn:active {
  scale: 0.9;
  color: var(--main-purple);
  fill: var(--main-purple);
  background: var(--main-purple-variation);
}
.main__modal .presets__option {
  aspect-ratio: 4/3;
  width: clamp(100px, 100px + 10vw, 200px);
  background-color: var(--main-purple);
  border: 2px solid var(--main-purple);
  cursor: pointer;
  color: rgb(248, 248, 248);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.4em;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main__modal .presets__option:hover, .main__modal .presets__option:focus, .main__modal .presets__option:active {
  box-shadow: 0 0 10px 0 var(--main-purple);
  scale: none;
}
.main__modal .presets__option__confirm {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
.main__modal .presets__option__confirm input {
  background: none;
  max-width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px dashed var(--main-purple-variation);
  text-align: center;
}
.main__modal .presets__option__confirm input::placeholder {
  color: rgb(180, 180, 180);
}
.main__modal .presets__option__confirm__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
.main__modal .presets__option__confirm__buttons span {
  padding: 4px 2px;
  background-color: var(--main-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  max-width: 48px;
  font-weight: normal;
  font-size: 0.94em;
  line-height: 1;
  border-radius: 2px;
  color: var(--main-purple-variation);
}
.main__modal .presets__option__confirm__buttons span:hover, .main__modal .presets__option__confirm__buttons span:focus-visible {
  color: rgb(248, 248, 248);
}
.main__modal .presets__option__main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__modal .presets__option__main__name {
  max-width: 100%;
  word-wrap: break-word;
}
.main__modal .presets__option__main__del {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 20px;
}
.main__modal .presets__option__main__del svg {
  color: var(--main-purple-variation);
  fill: var(--main-purple-variation);
}
.main__modal .presets__option__main__del:hover svg, .main__modal .presets__option__main__del:focus-visible svg {
  color: var(--main-red);
  fill: var(--main-red);
}
.main__modal .presets__option__main__del:active {
  color: var(--main-red);
  fill: var(--main-red);
  scale: 0.9;
}
.main__modal .presets__option__main__edit {
  position: absolute;
  bottom: 0;
  right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 20px;
}
.main__modal .presets__option__main__edit svg {
  color: var(--main-purple-variation);
  fill: var(--main-purple-variation);
}
.main__modal .presets__option__main__edit:hover svg, .main__modal .presets__option__main__edit:focus-visible svg {
  color: var(--main-red);
  fill: var(--main-red);
}
.main__modal .presets__option__main__edit:active {
  color: var(--main-red);
  fill: var(--main-red);
  scale: 0.9;
}
.main__modal .presets__save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 100%;
}
.main__modal .presets__save form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  max-width: 100%;
}
.main__modal .presets__save input {
  background: transparent;
  font-size: clamp(1.1rem, 1.1rem + 4vw, 2.4rem);
  font-weight: bold;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--main-purple);
  color: var(--main-white);
  text-align: center;
}
.main__modal .presets__save input::placeholder {
  color: rgb(180, 180, 180);
}
.main__modal .presets__save button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 0.8em;
  border-radius: 0.2em;
  width: clamp(60px, 60px + 2vw, 80px);
  outline: none;
  border: none;
  font-weight: bold;
  background-color: var(--main-purple);
  background-image: linear-gradient(45deg, var(--main-purple), var(--main-red));
  background-size: 300%;
  background-position: 0% 50%;
  color: var(--main-btn-clr);
  font-size: clamp(1.1rem, 1.1rem + 2vw, 1.2rem);
  cursor: pointer;
  transition: 200ms;
  border: 1px solid var(--main-purple);
  position: relative;
}
.main__modal .presets__save button::after {
  content: attr(data-saved);
  position: absolute;
  top: 50%;
  right: -120%;
  transform: translateY(-50%);
  color: var(--main-purple);
  transition: 200ms;
}
.main__modal .presets__save button:hover, .main__modal .presets__save button:focus-visible {
  box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
}
.main__modal .presets__save button:active {
  box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
  scale: 0.94;
}
.main__modal .presets__save button[disabled] {
  border: 1px solid rgb(60, 60, 60);
  background: rgb(80, 80, 80);
  pointer-events: none;
}
.main__modal .presets__tabs {
  display: flex;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px;
}
.main__modal .presets__tabs__btn {
  cursor: pointer;
  padding: 4px;
  color: var(--main-gray);
  transition: none;
}
.main__modal .presets__tabs__btn:hover, .main__modal .presets__tabs__btn:focus-visible {
  color: var(--main-white);
}
.main__modal .presets__tabs__btn:active {
  scale: none;
}
.main__modal .presets__tabs__btn--active {
  color: var(--main-white);
}
.main__modal .presets__tabs--saveTab {
  right: initial;
  left: 4px;
}
.main__modal::backdrop {
  background: rgba(40, 40, 40, 0.4);
}

/* fin modal */
.d-none {
  display: none;
}

.pe-none {
  pointer-events: none;
}

/*# sourceMappingURL=styles.css.map */
