@charset "UTF-8";
:root {
  --font-primary: monospace, "Courier New", Courier;
  --main-purple: rgb(107, 31, 248);
  --main-purple-variation: rgb(59, 21, 141);
  --main-purple-new: rgb(82, 8, 255);
  --main-red: rgb(211, 29, 83);
  --main-white: rgb(248, 248, 248);
  --main-white-op: rgb(248, 248, 248, 0.5);
  --main-black: rgb(30, 30, 30);
  --main-black-op: rgb(30, 30, 30, 0.5);
  --main-gray: rgb(80, 80, 80);
  --main-gray-op: rgb(100, 100, 100, 0.5);
  --clr-nav: rgb(248, 248, 248);
  --color-code: rgb(248, 248, 248);
  --main-btn-bg: rgb(8, 5, 12);
  --main-btn-clr: rgb(248, 248, 248);
  --bg-main: rgb(40, 40, 40);
  --bg-code: rgb(25, 25, 25);
  --size-main-container: 1500px;
}

.light-theme {
  --main-purple-new: rgb(156, 131, 255);
  --main-white: rgb(30, 30, 30);
  --main-white-op: rgb(30, 30, 30, 0.5);
  --main-black: rgb(248, 248, 248);
  --main-black-op: rgb(248, 248, 248, 0.5);
  --main-gray: rgb(220, 220, 220);
  --clr-nav: rgb(248, 248, 248);
  --color-code: rgb(30, 30, 30);
  --main-btn-bg: rgb(248, 248, 248);
  --main-btn-clr: rgb(8, 5, 12);
  --bg-main: rgb(240, 240, 240);
  --bg-code: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@view-transition {
  navigation: auto;
}
::view-transition-group(*) {
  animation-duration: 200ms;
  animation-timing-function: ease;
}

:root {
  interpolate-size: allow-keywords;
}

html {
  /* INICIO SCROLLBAR */
  scrollbar-width: thin;
  scrollbar-color: var(--main-purple) var(--bg-main);
  /* width */
  /* track */
  /* handle */
  /* FIN SCROLLBAR */
}
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html ::-webkit-scrollbar-track {
  background: var(--bg-main);
}
html ::-webkit-scrollbar-thumb {
  background: var(--main-purple);
}
html ::selection {
  color: var(--main-purple-variation);
  background: var(--main-purple);
}

body,
#root,
.root-theme {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: var(--bg-main);
  font-family: var(--font-primary);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

a,
button,
textarea,
input {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  background: none;
}

.mainContainer {
  width: 100%;
  background: var(--bg-main);
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: 0% -20%;
    background-size: max(600px, 50%);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: 0% -20%;
    background-size: max(600px, 50%);
    z-index: 0;
    transform: rotate(180deg);
  } */
}

/* header */
.main__header {
  width: 100%;
  color: var(--clr-nav);
  padding: 1px 8px;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  top: 0;
  background: var(--main-black);
  border-top: 1px solid var(--main-white);
  border-image: linear-gradient(45deg, var(--main-purple), var(--main-red), var(--main-purple));
  border-image-slice: 1;
  height: 31px;
  overflow: hidden;
}
.main__header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__header__site {
  font-weight: normal;
  color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__header__site h1 {
  font: inherit;
}
.main__header__site:focus-visible {
  outline: 1px solid var(--main-red);
}
.main__header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.main__header__buttons > div button {
  background: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 200ms ease;
  color: var(--main-white);
}
.main__header__buttons > div button svg {
  fill: var(--main-white);
}
.main__header__buttons > div button:hover, .main__header__buttons > div button:focus-visible {
  filter: drop-shadow(0 0 4px var(--main-black));
}
.main__header__buttons > div button:active {
  filter: drop-shadow(0 0 4px var(--main-black));
  scale: 0.9;
}
.main__header__buttons > div button.create-new {
  color: var(--main-white);
  border-radius: 0;
  background: var(--main-purple-new);
}
.main__header__buttons > div button.create-new svg {
  fill: var(--main-white);
}
.main__header .new-project {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
}
.main__header .new-project-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main__header .new-project-confirm-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main__header .new-project-confirm-btns button {
  cursor: pointer;
  border-radius: 0;
  padding: 0;
  border-radius: 0;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: none;
  filter: none;
  color: var(--main-white);
  background: var(--main-gray);
}
.main__header .new-project-confirm-btns button:hover, .main__header .new-project-confirm-btns button:focus-visible {
  background: var(--main-purple-new);
  color: rgb(248, 248, 248);
}

/* fin header */
/* footer */
.main__footer {
  background: color-mix(in srgb, var(--main-purple) 8%, black);
  color: var(--clr-nav);
  padding: 0.25rem;
  font-size: 1rem;
  display: flex;
  justify-content: end;
}

/* fin footer */
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  z-index: 1;
  max-width: var(--size-main-container);
}
.home__sharedNotFound, .home__sharedLoading {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  background: rgb(var(--main-white));
  padding: 2rem;
  border-radius: 0.5em;
  white-space: pre-wrap;
  margin: auto;
  background: var(--main-black);
  border: 2px solid var(--main-red);
}
.home__sharedNotFound h2, .home__sharedLoading h2 {
  line-height: 1;
  color: var(--main-white);
  font-size: 3rem;
}
.home__sharedNotFound p, .home__sharedLoading p {
  color: var(--main-white);
}
.home__sharedNotFound a, .home__sharedLoading a {
  padding: 0.5rem;
  background: linear-gradient(45deg, var(--main-purple), var(--main-red));
  border-radius: 0.25em;
  color: rgb(248, 248, 248);
  margin-top: 0.5rem;
  transition: scale 200ms ease;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
}
.home__sharedNotFound a:hover, .home__sharedNotFound a:focus-visible, .home__sharedLoading a:hover, .home__sharedLoading a:focus-visible {
  outline: 2px solid var(--main-purple);
}
.home__sharedNotFound a:active, .home__sharedLoading a:active {
  outline: 2px solid var(--main-purple);
  scale: 0.9;
}
.home__sharedLoading {
  border-color: var(--main-purple);
}

.currentSnippet {
  font-size: 1rem;
  line-height: 1;
  height: 1rem;
  color: var(--main-white);
  padding-inline: 1rem;
}

.tabs {
  display: flex;
  gap: clamp(0.25rem, 0.25rem + 2vw, 2rem);
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
}
.tabs button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  width: clamp(60px, 60px + 2vw, 80px);
  outline: none;
  border: none;
  font-weight: bold;
  background: var(--main-btn-bg);
  color: var(--main-btn-clr);
  font-size: clamp(1.125rem, 1.125rem + 2vw, 1.25rem);
  cursor: pointer;
  border: 1px solid var(--main-red);
  filter: grayscale(0.5);
  transition: 200ms ease;
  background: var(--bg-main);
}
.tabs button:hover, .tabs button:focus-visible {
  border: 1px solid var(--main-purple);
  filter: grayscale(0);
  background: var(--main-black);
  box-shadow: 0 0 4px 0 var(--main-purple);
}
.tabs button:active {
  border: 1px solid var(--main-purple);
  scale: 0.95;
  filter: grayscale(0);
  background: var(--main-black);
  box-shadow: 0 0 4px 0 var(--main-purple);
}
.tabs button[data-active=true] {
  border: 1px solid var(--main-purple);
  filter: grayscale(0);
  background: var(--main-black);
  box-shadow: 0 0 4px 0 var(--main-purple);
}

.mainCode {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  padding: 1rem;
}
@media (min-width: 800px) {
  .mainCode {
    flex-direction: row;
    gap: 0;
    padding: 0;
  }
}
@media (min-width: 800px) {
  .mainCode .NoSplitPane {
    display: none !important;
  }
}
.mainCode .SplitPane.vertical {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 799px) {
  .mainCode .SplitPane.vertical {
    display: none !important;
  }
}
.mainCode .Pane.vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainCode .Pane1.vertical {
  min-width: 300px;
}
.mainCode .Resizer.vertical {
  cursor: col-resize;
  width: 2rem;
  height: 100%;
  position: relative;
}
.mainCode .Resizer.vertical::after {
  content: "↔";
  aspect-ratio: 1;
  width: 1rem;
  font-size: 2rem;
  position: absolute;
  left: calc(50% - 1px);
  top: 50%;
  translate: -50% -50%;
  color: var(--main-white);
  pointer-events: none;
  opacity: 0.25;
}
.mainCode .Resizer.vertical:active::after {
  opacity: 0.5;
}
.mainCode__input {
  width: 100%;
  min-width: 300px;
  max-width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 800px) {
  .mainCode__input {
    min-width: initial;
    flex: 1;
    min-height: min(1080px, 75vh);
    min-height: min(1080px, 75dvh);
    height: clamp(min(1080px, 75vh), 75vh, 1080px);
    height: clamp(min(1080px, 75dvh), 75dvh, 1080px);
  }
}
.mainCode__input__type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.mainCode__input__type__active {
  color: var(--main-white);
  font-weight: bold;
}
.mainCode__input__type__active span:first-child {
  padding-right: 0;
}
.mainCode__input__type__active span:last-child {
  padding-left: 0;
  color: var(--main-purple);
  text-shadow: 0 0 4px var(--main-purple);
}
.mainCode__input__type__btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mainCode__input__type__iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-purple);
  transition: 200ms ease;
  cursor: pointer;
}
.mainCode__input__type__iconBtn:hover, .mainCode__input__type__iconBtn:focus-visible {
  color: var(--main-red);
}
.mainCode__input__type__iconBtn:active {
  color: var(--main-red);
  scale: 0.9;
}
.mainCode__input__type__iconBtn.active-on {
  color: var(--main-red);
}
.mainCode__input__type__clearConfirm {
  color: var(--main-red);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0.5rem;
  gap: 4px;
}
.mainCode__input__type__clearConfirm__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.mainCode__input__type__clearConfirm__buttons button {
  cursor: pointer;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95em;
  background: var(--main-gray);
  padding: 0;
  transition: none;
}
.mainCode__input__type__clearConfirm__buttons button:hover, .mainCode__input__type__clearConfirm__buttons button:focus-visible {
  background: var(--main-red);
  color: rgb(248, 248, 248);
}
.mainCode__input__type__clearConfirm__buttons button:active {
  color: rgb(248, 248, 248);
  background: var(--main-red);
  scale: 0.9;
}
.mainCode__input__type__clear {
  cursor: pointer;
  color: var(--main-red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  transition: 200ms ease;
}
.mainCode__input__type__clear:hover, .mainCode__input__type__clear:focus-visible {
  background: var(--main-red);
}
.mainCode__input__type__clear:active {
  background: var(--main-red);
  scale: 0.9;
}
.mainCode__input__type__clear__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mainCode__input__textWrapper {
  flex: 1;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: clamp(min(1080px, 75vh), 75vh, 1080px);
  height: clamp(min(1080px, 75dvh), 75dvh, 1080px);
  overflow: hidden;
  color: var(--main-purple);
}
@media (min-width: 800px) {
  .mainCode__input__textWrapper {
    min-width: initial;
  }
}
.mainCode__input__textWrapper__inner {
  display: flex;
  height: 420px;
  min-height: 172px;
  /* max-height: 620px; */
  overflow: hidden;
  border-radius: 0.5rem;
  border: 2px solid rgb(100, 100, 100);
}
@media (min-width: 800px) {
  .mainCode__input__textWrapper__inner {
    height: 100%;
    resize: vertical;
  }
}
.mainCode__input__textWrapper__inner::-webkit-resizer {
  background-color: transparent;
}
.mainCode__output {
  width: 100%;
  min-width: 300px;
  max-width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 800px) {
  .mainCode__output {
    min-width: initial;
    flex: 1;
    min-height: min(1080px, 75vh);
    min-height: min(1080px, 75dvh);
    height: clamp(min(1080px, 75vh), 75vh, 1080px);
    height: clamp(min(1080px, 75dvh), 75dvh, 1080px);
  }
}
.mainCode__output__type {
  color: var(--main-white);
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainCode__output__type__btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mainCode__output__type__btnWrapper button,
.mainCode__output__type__btnWrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-purple);
  transition: 200ms ease;
  outline: none;
  border: none;
}
.mainCode__output__type__btnWrapper button:hover, .mainCode__output__type__btnWrapper button:focus-visible,
.mainCode__output__type__btnWrapper a:hover,
.mainCode__output__type__btnWrapper a:focus-visible {
  color: var(--main-red);
}
.mainCode__output__type__btnWrapper button:active,
.mainCode__output__type__btnWrapper a:active {
  color: var(--main-red);
  scale: 0.9;
}
.mainCode__output__type__full {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.mainCode__output__type__full svg {
  color: var(--main-red);
  fill: var(--main-red);
}
.mainCode__output__type__full:hover, .mainCode__output__type__full:active {
  background-color: var(--main-red);
}
.mainCode__output__iframeWrapper {
  border-radius: 0.5rem;
  border: 2px solid rgb(100, 100, 100);
  display: flex;
  background: white;
  transition: opacity 200ms ease;
  width: 100%;
  max-width: 100%;
  height: 420px;
  /* max-height: 620px; */
  min-height: 172px;
  overflow: hidden;
}
@media (min-width: 800px) {
  .mainCode__output__iframeWrapper {
    height: 100%;
    resize: vertical;
  }
}
.mainCode__output__iframeWrapper::-webkit-resizer {
  background-color: transparent;
  /* background-image: url("/resize-vert.svg");
  background-repeat: no-repeat; */
}
.mainCode__output__iframe {
  border-radius: 0.25em;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  border: none;
  outline: none;
}

.dim {
  opacity: 0.5;
  color: transparent !important;
}

.dim * {
  color: transparent !important;
}

.clr-red {
  color: var(--main-red) !important;
}

.moon-fill {
  color: rgb(40, 40, 40);
}

.sun-fill {
  color: rgb(248, 248, 248);
}

.diamond-fill {
  color: var(--main-black);
}

.d-none {
  display: none;
}

.pe-none {
  pointer-events: none;
}

/* auto-animate-wrapper */
.animWrapper,
.noAnimWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: clamp(0.5rem, 0.5rem + 1vw, 2rem);
  transition: none !important;
  animation: none !important;
}

.noAnimWrapper {
  flex-flow: column nowrap;
}

/* sonner-toast-wrapper */
li[data-sonner-toast] {
  background: var(--main-black) !important;
  border-color: var(--main-purple-variation) !important;
  color: var(--main-white) !important;
  word-break: break-all !important;
  white-space: pre-wrap !important;
}

/* modal */
.main__modal {
  position: fixed;
  inset: 0;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
}
.main__modal[open] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__modal__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  aspect-ratio: 7/5;
  width: clamp(300px, 300px + 30vw, 720px);
  min-height: 420px;
  background: var(--main-purple-variation);
  max-width: 100%;
  border-radius: 1em;
  border: 1px solid var(--main-purple);
  overflow: hidden;
  position: relative;
}
.main__modal__header {
  background: var(--main-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  color: rgb(248, 248, 248);
  font-size: 1rem;
  z-index: 1;
}
.main__modal__header > span {
  padding-inline: 6px;
}
.main__modal__header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.main__modal__header__buttons button {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  transition: 200ms ease;
  aspect-ratio: 1;
  fill: var(--main-purple);
  background: rgba(20, 20, 20, 0.5);
}
.main__modal__header__buttons button svg {
  fill: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__modal__header__buttons button:hover, .main__modal__header__buttons button:focus-visible {
  fill: rgb(248, 248, 248);
  background: rgba(20, 20, 20, 0.6);
}
.main__modal__header__buttons button:active {
  fill: rgb(248, 248, 248);
  scale: 0.9;
  background: rgba(20, 20, 20, 0.6);
}
.main__modal__header__buttons button[disabled] {
  pointer-events: none;
  color: rgb(80, 80, 80);
}
.main__modal__header__buttons button[disabled] svg {
  color: rgb(80, 80, 80);
  fill: rgb(80, 80, 80);
}
.main__modal__header__buttons button.modalOptionActive {
  fill: rgb(248, 248, 248);
  background: rgba(20, 20, 20, 0.6);
}
.main__modal__content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  overflow-y: auto;
  background: var(--main-black);
  overflow-x: hidden;
  padding-inline: min(20%, 5rem);
  padding-block: min(10%, 2.5rem);
  scrollbar-gutter: stable both-edges;
  /* INICIO SCROLLBAR */
  scrollbar-width: thin;
  scrollbar-color: var(--main-gray) var(--bg-main);
  /* width */
  /* track */
  /* track */
  /* FIN SCROLLBAR */
}
.main__modal__content div[role=button].presets__noSnippet {
  cursor: pointer;
  text-align: center;
  text-wrap: balance;
}
.main__modal__content div[role=button].presets__noSnippet:hover, .main__modal__content div[role=button].presets__noSnippet:focus-visible {
  color: var(--main-purple);
}
.main__modal__content div[role=button].presets__noSnippet:active {
  color: var(--main-purple);
}
.main__modal__content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.main__modal__content::-webkit-scrollbar-thumb {
  background: var(--main-purple-variation);
}
.main__modal__content::-webkit-scrollbar-track {
  background: transparent;
}
.main__modal__content__innerWrapper {
  flex: 1;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 1rem + 1vw, 2rem);
}
.main__modal .presets__noSnippet {
  font-size: 1.25rem;
  color: var(--main-white);
}
.main__modal .presets__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex: 1;
}
.main__modal .presets__profile__userInfo {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  color: var(--main-white);
  flex: 1;
  max-width: 360px;
}
.main__modal .presets__profile__userInfo__data {
  word-break: break-all;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
.main__modal .presets__profile__userInfo__data__img {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 1;
  background-color: var(--main-purple);
  padding: 2px;
  border-radius: 50%;
  width: 120px;
  position: relative;
}
.main__modal .presets__profile__userInfo__data__img::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: inherit;
  filter: blur(4px);
  z-index: 0;
}
.main__modal .presets__profile__userInfo__data__img img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.main__modal .presets__profile__userInfo__data__img input[type=file] {
  display: none;
}
.main__modal .presets__profile__userInfo__data__img__uploadImgLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main__modal .presets__profile__userInfo__data__img__uploadImgLabel:hover + label {
  color: var(--main-purple);
}
.main__modal .presets__profile__userInfo__data__img__uploadImgLabel:active {
  color: var(--main-purple);
}
.main__modal .presets__profile__userInfo__data__img__upload {
  position: absolute;
  bottom: -12px;
  right: -12px;
  margin: auto;
  color: var(--main-gray-op);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.main__modal .presets__profile__userInfo__data__img__upload:hover, .main__modal .presets__profile__userInfo__data__img__upload:focus-visible {
  color: var(--main-purple);
}
.main__modal .presets__profile__userInfo__data__img__upload:active {
  color: var(--main-purple);
}
.main__modal .presets__profile__userInfo__data__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  min-width: 240px;
}
.main__modal .presets__profile__userInfo__data__text__line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__modal .presets__profile__userInfo__data__text__line > span:first-child {
  color: var(--main-purple);
}
.main__modal .presets__profile__userInfo__data__text__line > span:nth-child(2) {
  flex: 1;
}
.main__modal .presets__profile__userInfo__data__text__line input {
  background: none;
  outline: none;
  border: none;
  box-shadow: 0 1px 0 0 var(--main-purple);
}
.main__modal .presets__profile__userInfo__data__text__line__btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  gap: 0.5em;
}
.main__modal .presets__profile__userInfo__data__text__line__btnContainer button {
  cursor: pointer;
  color: var(--main-gray-op);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 200ms ease;
}
.main__modal .presets__profile__userInfo__data__text__line__btnContainer button:hover, .main__modal .presets__profile__userInfo__data__text__line__btnContainer button:focus-visible {
  color: var(--main-purple);
}
.main__modal .presets__profile__userInfo__data__text__line__btnContainer button:not(.editName) {
  aspect-ratio: 1;
  width: 18px;
  border-radius: 50%;
  background: var(--main-gray-op);
  color: var(--main-white);
}
.main__modal .presets__profile__userInfo__data__text__line__btnContainer button:not(.editName) svg.bi-x-lg {
  scale: 0.8;
}
.main__modal .presets__profile__userInfo__data__text__line__btnContainer button:not(.editName):hover, .main__modal .presets__profile__userInfo__data__text__line__btnContainer button:not(.editName):focus-visible {
  background: var(--main-purple);
}
.main__modal .presets__profile__userInfo__data__text__line__btnContainer button:active {
  scale: 0.9;
}
.main__modal .presets__profile__userInfo__data__text__line__btnContainer button[disabled] {
  filter: grayscale(1);
  scale: 1;
  pointer-events: none;
}
.main__modal .presets__profile__userInfo__data__signOut {
  cursor: pointer;
  color: var(--main-red);
  fill: var(--main-red);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}
.main__modal .presets__profile__userInfo__data__signOut svg {
  fill: inherit;
}
.main__modal .presets__profile__userInfo__data__signOut:hover, .main__modal .presets__profile__userInfo__data__signOut:focus-visible {
  color: var(--main-white);
  fill: var(--main-white);
}
.main__modal .presets__profile__googleSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: var(--main-white);
  font-size: 1.25rem;
  flex: 1;
}
.main__modal .presets__profile__googleBtn {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: rgb(248, 248, 248);
  padding: 1em;
  background: transparent;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 0 0 8px 0 var(--main-purple);
  border: 2px solid var(--main-purple);
  fill: var(--main-purple);
  transition: 200ms ease;
}
.main__modal .presets__profile__googleBtn svg {
  fill: inherit;
}
.main__modal .presets__profile__googleBtn:hover, .main__modal .presets__profile__googleBtn:focus-visible {
  box-shadow: 0 0 8px 0 var(--main-red);
  border-color: var(--main-red);
  fill: var(--main-red);
}
.main__modal .presets__profile__googleBtn:active {
  box-shadow: 0 0 4px 0 var(--main-red);
  border-color: var(--main-red);
  fill: var(--main-red);
  scale: 0.9;
}
.main__modal .presets__option {
  aspect-ratio: 7/5;
  width: clamp(100px, 100px + 8vw, 140px);
  background-color: var(--main-gray-op);
  border-top: 2px solid var(--main-purple);
  border-radius: 0 0 0.5em 0.5em;
  color: var(--main-white);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  touch-action: none;
}
.main__modal .presets__option.dragged * {
  pointer-events: none;
}
.main__modal .presets__option:hover, .main__modal .presets__option:focus-visible, .main__modal .presets__option:focus-within, .main__modal .presets__option:active {
  box-shadow: 0 -2px 4px 0 var(--main-purple), 0px 2px 4px 0 var(--main-red);
}
.main__modal .presets__option:hover button, .main__modal .presets__option:focus-visible button, .main__modal .presets__option:focus-within button, .main__modal .presets__option:active button {
  opacity: 1;
}
.main__modal .presets__option__confirm {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  text-align: center;
  text-wrap: balance;
  padding: 4px;
}
.main__modal .presets__option__confirm input {
  background: none;
  max-width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px dashed var(--main-purple-variation);
  text-align: center;
  text-wrap: balance;
  font-weight: bold;
  transition: background-color 200ms ease;
  color: var(--main-white);
}
.main__modal .presets__option__confirm input:not(:placeholder-shown) {
  background-color: var(--main-gray-op);
}
.main__modal .presets__option__confirm input:focus {
  background-color: var(--main-gray-op);
}
.main__modal .presets__option__confirm input::placeholder {
  font-weight: normal;
  color: var(--main-white-op);
}
.main__modal .presets__option__confirm__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
.main__modal .presets__option__confirm__buttons button {
  padding: 4px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  max-width: 48px;
  font-weight: normal;
  font-size: 0.95em;
  line-height: 1;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(248, 248, 248);
}
.main__modal .presets__option__confirm__buttons button:hover, .main__modal .presets__option__confirm__buttons button:focus-visible {
  color: var(--main-red);
  font-weight: bold;
}
.main__modal .presets__option__confirm__buttons button:active {
  color: var(--main-red);
  font-weight: bold;
}
.main__modal .presets__option__main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 0;
}
.main__modal .presets__option__main__feat {
  font-size: 0.8em;
  font-weight: bold;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
  white-space: nowrap;
}
.main__modal .presets__option__main__name {
  flex: 1;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}
.main__modal .presets__option__main__name[disabled] {
  pointer-events: none;
}
.main__modal .presets__option__main__name:is(:hover, :focus-visible) span {
  color: var(--main-red);
  font-weight: bold;
}
.main__modal .presets__option__main__name > span {
  max-width: 100%;
  text-align: center;
  text-wrap: balance;
  word-wrap: break-word;
}
.main__modal .presets__option__main__name:focus-visible {
  outline: none;
  box-shadow: 0 0 8px 0 var(--main-red) inset;
}
.main__modal .presets__option__main__buttons {
  background-color: var(--main-gray-op);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2px;
  width: 100%;
  padding: 1px 4px;
}
.main__modal .presets__option__main__buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 20px;
  cursor: pointer;
}
.main__modal .presets__option__main__buttons button svg {
  color: rgb(248, 248, 248);
  fill: rgb(248, 248, 248);
}
.main__modal .presets__option__main__buttons button:hover svg, .main__modal .presets__option__main__buttons button:focus-visible svg {
  color: var(--main-red);
  fill: var(--main-red);
}
.main__modal .presets__option__main__buttons button:active {
  color: var(--main-red);
  fill: var(--main-red);
  scale: 0.9;
}
.main__modal .presets__option__main__buttons button:first-child {
  margin-right: auto;
}
.main__modal .presets__save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 100%;
}
.main__modal .presets__save button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  outline: none;
  border: 1px solid var(--main-purple);
  font-weight: bold;
  background: var(--main-black);
  color: var(--main-btn-clr);
  font-size: clamp(1.125rem, 1.125rem + 2vw, 1.25rem);
  cursor: pointer;
  transition: 200ms ease;
  position: relative;
}
.main__modal .presets__save button::after {
  content: attr(data-saved);
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: -150%;
  translate: 0 -50%;
  color: var(--main-purple);
  transition: scale 200ms ease;
}
.main__modal .presets__save button:hover, .main__modal .presets__save button:focus-visible {
  box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
  filter: grayscale(0);
}
.main__modal .presets__save button:active {
  box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
  scale: 0.95;
  filter: grayscale(0);
}
.main__modal .presets__save button[disabled] {
  border: 1px solid rgb(60, 60, 60);
  background: rgb(80, 80, 80);
  pointer-events: none;
  filter: grayscale(1);
  color: rgb(228, 228, 228);
}
.main__modal .presets__save .save-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.main__modal .presets__save .save-tabs button {
  font-weight: normal;
  width: unset;
  filter: grayscale(1);
  font-size: 1rem;
}
.main__modal .presets__save .save-tabs button:hover, .main__modal .presets__save .save-tabs button:focus-visible, .main__modal .presets__save .save-tabs button:active {
  filter: grayscale(0);
}
.main__modal .presets__save .save-tabs button[data-active=true] {
  box-shadow: -2px 2px 8px 0 var(--main-btn-bg);
  background-position: 0% 50%;
  border: 1px solid var(--main-purple);
  filter: grayscale(0);
  background: var(--main-purple);
  color: rgb(248, 248, 248);
}
.main__modal .presets__save form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  gap: 1.5rem;
  max-width: 100%;
}
.main__modal .presets__save input {
  background: transparent;
  font-family: var(--font-primary);
  font-size: clamp(1rem, 1rem + 4vw, 1.75rem);
  outline: none;
  border: none;
  border-bottom: 2px solid var(--main-purple);
  text-align: center;
  text-wrap: balance;
  max-width: 90%;
  font-weight: bold;
  line-height: 1.4;
  color: var(--main-white);
  border-radius: 0.25em 0.25em 0 0;
  transition: background-color 200ms ease;
}
.main__modal .presets__save input:not(:placeholder-shown) {
  background-color: var(--main-gray-op);
}
.main__modal .presets__save input:focus {
  background-color: var(--main-gray-op);
}
.main__modal .presets__save input::placeholder {
  font-weight: normal;
  color: var(--main-white-op);
}
.main__modal .presets__tabs {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 16px;
  left: -4px;
  padding: 4px;
  gap: 4px;
}
.main__modal .presets__tabs__btn {
  cursor: pointer;
  font-size: 0.75rem;
  text-align: left;
  white-space: pre-wrap;
  padding: 4px;
  color: var(--main-white);
  background: var(--main-gray);
  border-radius: 0 0.25em 0.25em 0;
  width: 64px;
  height: 40px;
  transition: 200ms ease;
}
.main__modal .presets__tabs__btn:hover, .main__modal .presets__tabs__btn:focus-visible {
  font-weight: bold;
  background-color: var(--main-purple);
  color: rgb(248, 248, 248);
  filter: grayscale(0);
}
.main__modal .presets__tabs__btn:active {
  font-weight: bold;
  background-color: var(--main-purple);
  color: rgb(248, 248, 248);
  filter: grayscale(0);
}
.main__modal .presets__tabs__btn--active {
  font-weight: bold;
  background-color: var(--main-purple);
  filter: grayscale(0);
  color: rgb(248, 248, 248);
}
.main__modal::backdrop {
  background: transparent;
}

/* fin modal */
/* loader */
.loader {
  color: var(--main-purple);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  margin: 4rem auto;
}

.presets__profile__userInfo__data .loader {
  font-size: 2px;
  margin: 0;
}

.presets__profile__userInfo__data__img .loader {
  position: absolute;
  bottom: -6px;
  right: -6px;
}

.presets__option .loader {
  font-size: 5px;
  margin: 0;
}

@keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.25em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.25em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.25em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.25em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.25em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.25em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.25em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.25em;
  }
}
/* fin loader */
.notFound {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.notFound__inner {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  background: rgb(var(--main-white));
  padding: 2rem;
  width: clamp(300px, 300px + 10vw, 800px);
  border-radius: 0.5em;
  white-space: pre-wrap;
}
.notFound__inner h1 {
  font-size: 2rem;
  line-height: 1;
  color: rgb(248, 248, 248);
  font-size: 3rem;
}
.notFound__inner p {
  color: rgb(248, 248, 248);
}
.notFound__inner a {
  padding: 0.5rem;
  background: linear-gradient(45deg, var(--main-purple), var(--main-red));
  border-radius: 0.25em;
  color: rgb(248, 248, 248);
  margin-top: 0.5rem;
  transition: scale 200ms ease;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
}
.notFound__inner a:hover {
  outline: 2px solid var(--main-purple);
}
.notFound__inner a:active {
  outline: 2px solid var(--main-purple);
  scale: 0.9;
}

/*# sourceMappingURL=styles.css.map */
